
<section class="landing" [class.bye]="!landing">


  <div class="menutop">

    <div class="lang">
      <button mat-button [matMenuTriggerFor]="menu"><img src="./assets/img/spanish.png" width="16"> {{lengua}}</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Español</button>
          <button mat-menu-item>English</button>
        </mat-menu>
    </div>


    <div class="socialIcon">
      <i class="fab fa-facebook-f"></i>
      <i class="fab fa-telegram-plane"></i>
      <i class="fab fa-youtube"></i>
    </div>
  </div>
  <div class="ctaMob ctass2 fuente" (click)="ira()"><p>ADQUIRIR TOKENS</p></div>

  <div class="menu kanita" id="menu">
    <div class="menuCont">
      <div class="logito">
        <div class="logoContCont">
          <img src="./assets/img/isotipo.png" width="40">

          <div class="logoCont kanita">
            <p>COL<span>FINEX</span></p>
          </div>
        </div>
      </div>

      <div class="contenidito">
        <div class="optioni">
          <div class="item poh" (click)="bajarVP('#entry')"><p>¿Que es POH?</p></div>
          <div class="item road" (click)="bajarVP('#roadMap')"><p>RoadMap</p></div>
          <div class="item team" (click)="bajarVP('#members')"><p>Equipo</p></div>
        </div>
      </div>
      <div class="ctap">
          <div id="tokenAdd" class="cta fuente2 ctass" (click)="ira()"><p>ADQUIRIR TOKENS</p></div>
      </div>
    </div>
    <div class="bagro" id="bagro"></div>
  </div>


  <div class="header">

    <app-header id="encabezado"></app-header>

    <div class="contenido">
        <div class="titulo  intro">
          <div class="titulars">
            <img src="./assets/img/isotipo.png" width="140">
            <h1 class="kanita eyla"><span class="negrita">COL</span><span class="finex">FINEX</span></h1>
          </div>
          <p class="shortDesc fuente">Un exchange especializado para todo Latinoamérica y el mundo.</p>
          <div class="ctas">
            <div class="cta fuente2 cta1" (click)="ira()"><p>ADQUIRIR TOKENS</p></div>
            <div class="cta fuente2 cta2"><p>Whitepaper</p></div>
          </div>
        </div>
    </div>

    <div class="countdown-container">
      <div class="card-count">
          <div class="counter">
            <div class="textend fuente"><h3>LA ICO TERMINA EN: </h3></div>

            <div class="counters">
              <div class="time">
                <div class="contim day">
                  <h1 class="fuente2">{{fecha.days}}</h1>
                </div>
                <p class="fuente">Days</p>
              </div>
              <div class="time">
                <div class="contim hour">
                  <h1 class="fuente2">{{fecha.hours}}</h1>
                </div>
                <p class="fuente">Hours</p>
              </div>
              <div class="time ">
                <div class="contim min">
                  <h1 class="fuente2">{{fecha.minutes}}</h1>
                </div>
                <p class="fuente">Minutes</p>
              </div>
              <div class="time ">
                <div class="contim seconds">
                  <img src="./assets/img/roadmap.png" width="80" class="iluminaloCabron secondImg">
                  <img src="./assets/img/count.png" width="70" class="rotaloCabron secondImg">
                  <h1 class="fuente2">{{fecha.seconds}}</h1>
                </div>
                <p class="fuente">Seconds</p>
              </div>
            </div>

            <div class="avanced">
              <div class="barra">
                <div class="softcap">
                    <div class="contdata">
                      <p class="softcap2 fuente">SoftCap <span class="fuente2">$120</span>K</p>
                    </div>
                </div>

                <div class="softcap do">
                    <div class="contdata">
                      <p class="softcap2 fuente">HardCap <span class="fuente2">$200</span>K</p>
                    </div>
                </div>

                <div class="progresado"></div>
              </div>
            </div>
          </div>


          <div class="price fuente">
            <h2>Precio de venta</h2>
            <mat-form-field class="example-full-width epale">
              <span matPrefix>ETH: &nbsp;</span>
              <input matInput placeholder="Ether Amount" value="1" class="et1"  #box id="foco">

              <p class="loquese" matSuffix><span>~</span>&nbsp;&nbsp;{{cmcService.number_format(box.value*ethPrice)}}&nbsp;<span>USD</span>&nbsp;
                <img src="./assets/img/ethereum.png"  width="20">
              </p>

            </mat-form-field>
              <img src="./assets/img/exchange.png" width="30">

              <mat-form-field class="example-full-width epale">
                <span matPrefix>SEN: &nbsp;</span>
                <input matInput placeholder="Sen Amount" [value]="cmcService.number_format(box.value*(ethPrice/0.05))" class="mountEt" >
                <img matSuffix src="./assets/img/coins.png" width="25">
              </mat-form-field>

          </div>
      </div>
    </div>
  </div>

  <div id="section1-5">


  <div id="alamie2">
    <div class="lucerito">
      <img src="./assets/img/lucer.png" id="lucer2">
    </div>
      <div class="left fuente intt" id="alamie">
        <h1 class="colortit kanita" id="jaja">LO QUE PROPONEMOS... </h1>
        <div class="agua">
          <img src="./assets/img/lucer.png" id="lucer">
        </div>
        <p class="colorparr aas">(Falta este copy)Colfinex es un exchange de ultima generación planificado hacia la descentralización, los sistemas centralizados son el eslabón débil de la cadena de bloques, suceptibles a intervenciones, los volumenes migrarán a sistemas transaccionales descentralizados,  de forma sistemática, y en Colfinex estaremos preparados para este evento cuando llegue...</p>
      </div>
  </div>

    <div class="imgSect">
      <img src="./assets/img/roadmap.png" width="80%" class="welco">
      <img id="cel"  src="./assets/colfinex.png" width="60%">
      <img id="mockup"  src="./assets/mocos.png" width="50%">
      <img id="piso" src="./assets/puta.png" width="100%">
      <!-- <img id="piso2" src="./assets/barra.png" width="100%"> -->
    </div>

  </div>

  <div id="section2">
    <div class="right fuente">
      <div class="conlaDoble">
        <div class="conrazon">
          <div class="anim">
            <div class="animate animm"></div>
            <div class="animate animm ani2"></div>
            <i class="material-icons">
              play_circle_outline
            </i>
          </div>
          <p class="enterate">Enterate como funciona.</p>
        </div>
      </div>
      <img class="queloque" src="./assets/img/roadmap.png" width="140%">
    </div>


    <div class="left fuente vers">
        <h1 class="colortit tits" id="custody">SIEMPRE TIENES LA <span>CUSTODIA</span></h1>
        <p class="colorparr duo">Nuestro modelo POH brinda seguridad y soberanía a nuestros usuarios, nosotros al no tener custodia sobre llaves privadas garantizamos que los activos no se vean comprometidos de ninguna manera ante posibles ataques informáticos o intervención de entes gubernamentales, el Proof of Hold funciona en solo un par de pasos: </p>
        <ul class="listica">
          <li><img src="./assets/img/shield.png" width="30"><p> Haces Hodl desde tu propia billetera, teniendo custodia total de tus criptoactivos.</p></li>
          <li><img src="./assets/img/blockchain.png" width="30"> <p>Firmas una transacción con valor de "0", para identificarte como propietario e iniciar con el proceso de POH!.</p></li>
        </ul>
    </div>

  </div>


  <div class="princi">
    <div class="left fuente intt">
      <h1 id="entry">¿COMO FUNCIONA EL <span>PROOF OF HODL?</span></h1>
    </div>
  </div>

  <div id="section3">
    <div class="description">
      <div class="contenidos fuente" id="contenido1">
        <div class="contenedorCosas">
          <div class="etapas etapas2" id="etapa2">1</div>
          <div class="etapas etapas3" id="etapa3">2</div>
          <div class="etapas etapas4" id="etapa4">3</div>
          <div class="etapas etapas5" id="etapa5">4</div>
          <div class="stick">
            <div class="contenedor tapita1">
                <h2 class="etapaT1">Etapa 1:</h2>
                <p class="stagesToken">Por cada 1.000 CFX que se mantenga dentro de tu cartera ETH, obtendrás un equivalente del 1% de descuento del total de los fees transnacionales</p>
            </div>

            <div class="contenedor">
                <h2 class="etapaT2">Etapa 2:</h2>
                <p class="stagesToken "><strong class="e3">1'600.000 CFX: </strong><span class="e4">Retorno de Inversión (ROI), por 40% hasta seis meses después.  exclusiva para inversionistas en etapa de preventa privada</span> <span class="e5">y una segunda etapa de retorno llamada Super Hold de permanencia de hasta 6 meses mas por 95%.</span></p>
                <p class="stagesToken e2"><strong> 300.000 CFX:</strong>Retorno de inversión (ROI), por 8% hasta seis meses después de adquiridos.</p>
                <p class="stagesToken e1"><strong> 100.000 CFX:</strong>Obtener un retorno de Inversión(ROI), por conservación de los token (Hold) de un 2% hasta seis meses después de adquiridos.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="imgs">
        <div class="contenedorChart">
          <canvas id="myChart2" ></canvas>
          <div class="element element1 fuente"><p class="cfx">1.000cfx</p><p class="fee">-1% Fee</p></div>
          <div class="element element2 fuente"><p class="cfx">100.000cfx</p><p class="fee">-100% Fees</p></div>
          <div class="element element3 fuente"><p class="cfx">40%</p></div>
          <div class="element element4 fuente"><p class="cfx">95%</p></div>
          <div class="element element5 fuente"><p>Genesis Day 0</p><img src="./assets/img/huellas.png" width="17"></div>
          <div class="element element6 fuente"><p class="cfx">8%</p></div>
          <div class="element element7 fuente"><p class="cfx">2%</p></div>
          <div class="element element8 fuente"><p>Month 6</p><img src="./assets/img/huellas.png" width="17"></div>
          <div class="element element9 fuente"><p>Month 12</p><img src="./assets/img/huellas.png" width="17"></div>
        </div>
    </div>

    <div id="backgroundCont">
      <div id="background">
        <div class="sobre">
        </div>
        <div id="wave"></div>
      </div>
    </div>
  </div>


  <div id="section6">
    <app-ficha></app-ficha>
  </div>

  <div id="section4">
    <div class="fondo">
      <div class="imgss"></div>
    </div>

    <div class="asigMob">
      <h1 class="kanita titleas">ASIGNACIÓN <span>PRESUPUESTARIA</span></h1>

      <div class="percents">
        <div class="barreins per1"></div>
        <p class="fuente diablo"><span class="fuente2">56%</span>Desarrollo Exchange</p>
      </div>

      <div class="percents">
        <div class="barreins per2"></div>
        <p class="fuente diablo"><span class="fuente2">12%</span>Equipo Fundador</p>
      </div>

      <div class="percents">
        <div class="barreins per3"></div>
        <p class="fuente diablo"><span class="fuente2">10%</span>Marketing y operaciones</p>
      </div>

      <div class="percents">
        <div class="barreins per4"></div>
        <p class="fuente diablo"><span class="fuente2">7%</span>Bounty y detección de bugs</p>
      </div>

      <div class="percents">
        <div class="barreins per5"></div>
        <p class="fuente diablo"><span class="fuente2">7%</span>Advisors y Partners</p>
      </div>

      <div class="percents">
        <div class="barreins per6"></div>
        <p class="fuente diablo"><span class="fuente2">4%</span>E.S.O.P</p>
      </div>

    </div>


    <app-presupuesto id="presu"></app-presupuesto>
  </div>

  <div id="roadMap">
    <!-- <h2>RoadMap</h2> -->
  </div>
  <div id="section5">
    <h2 id="oolk">Mapa de Ruta</h2>
    <app-roadmap></app-roadmap>
  </div>

  <!-- <div id="members"></div>
  <div id="section7">
    <h2>Mapa de Ruta</h2>
  <app-members></app-members>
  </div> -->

  <div id="footer"></div>

</section>

<!-- <div id="section8">
</div> -->
