.menuCont{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  display: grid;
  grid-template-columns: 20% 60% 20%;
}

.item{
  height: 100%;
  width: 150px;
  display: grid;
  align-items: center;
  transition: .3s;
  justify-items: center;
  position: relative;
  color: white;
}

.bye{
  transition: .3s;
  opacity: 0;
}

.item i {
  position: absolute;
  right: 0;
  transform: translateX(-20px);
}

.item p {
transform: translateX(0);
}


#roadMap{
  position: relative;
  z-index: 3;
  width: 100%;
  /*height: 200px;*/
  background: red;
  display: grid;
  align-items: center;
  justify-items:center;
}

#section5 h2, #section7 h2{
  color: #40f29b !important;
  font-size: 45px !important;
  font-family: 'Kanit', sans-serif !important;
  text-align: center;
}

.item:hover{
  color: #00ccac;
}

.itemBefo{
  color: #00ccac !important;
}

.contenidito{
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  /*align-items: center;*/
}

.item{
  cursor: pointer;
}

.contenidito p{
  margin: 0 17px !important;
}

.optioni{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  transition: .3s;
  justify-self: right;
  color: #0198ff;
  opacity: 1;
  height: calc(100% - 7px);
    transform-origin: top;
    position: relative;
    top: 0;
}

.fitOp{
  width: 450px !important;
}

.ctap{
  display: grid;
  align-items: center;
  justify-items: center;
  position: relative;
}

.logito{
  display: grid;
  align-items: center;
  justify-items: left;
}

.logoContCont{
    transform-origin: left;
    transition: .3s;
    margin-left: 70px;
    height: 100%;
    width: 0;
    opacity: 0;
    position: relative;
    display: grid;
    align-items: center;
}

.logoContContBefore2{
  opacity: 1;
}

.logoContBefore2s{
  animation-name: logoContBefores2;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes logoContBefores2{

  0%{
    transform: rotate(0deg);
  }
  89%{
    transform: rotate(0deg);
  }
  90%{
    transform: rotate(2deg);
  }
  95%{
    transform: rotate(-2deg);
  }
  100%{
    transform: rotate(2deg);
  }
}




.logoContContBefore{
  animation-name: logoContBefores;
  animation-duration: .7s; /* Duración total de la animación */
  animation-fill-mode: forwards;/* la animación se queda en como termina la animación, es decir en el 100%*/

}

@keyframes logoContBefores{
  0%{
    transform: scale(0);
    width: 0 ;
  }
  37%{
    transform: scale(1.5);
  }
  60%{
    transform: scale(1);
    width: 0 ;
  }
  100%{
    width: 100px ;
  }
}



.logoCont{
  /*width: 0;*/
  transition: .3s;
  height: 100%;
  overflow: hidden;
}



.logoContCont img{
  position: absolute;
      right: -20px;
}

.logoCont p {
  font-size: 18px !important;
  color: #00d2ff;
  width: 120px !important;
}

.logoCont span{
  color: white !important;
}



.ctass{
  cursor: pointer;
    box-shadow: 0 0 15px #0089ff;
    background: #3992de;
    transition: .25s;
    border: none !important;
    color: white;
    width: 130px;
    font-size: 14px;
    padding: 7px 10px;
    position: absolute;
    height: 30px;
    /*transform: scale(0.7);*/
    opacity: 0;
    top: 12px;
}

.contBu{
  position: relative;
    top: 12px;
    width: 100%;
    transition: .3s;
    height: 100%;
}


.apareceCta{
  opacity: 1 !important;
}

.aparece2{
  opacity: 1 !important;
}



.animar{
  animation-name: epales;
  animation-duration: .4s; /* Duración total de la animación */
  /*animation-delay: 1s; 	/* Tiempo que transcurrido para que la animación inicie */*/
  /*animation-iteration-count: 2; 	/* 'infinite' numero de veces que quiero que se repita mi animación */*/
  /*animation-direction: reverse; /* La animación se ejecuta de 1000% a 0% */*/
  animation-fill-mode: forwards;/* la animación se queda en como termina la animación, es decir en el 100%*/

  animation-timing-function: ease;
}

@keyframes epales{
  0%{
    transform: scale(0);
  }
  60%{
    transform: scale(1.1);
  }
  100%{
    transform: scale(1);
  }
}





#trigger4{
  width: 100px;
  height: 20px;
  background: red;
  position: relative;
  z-index: 100;
}

.your-class{
  background: white;
  position: relative;
  z-index: 3;
}

#section8{
  height: 100vh;
  background: red;
  width: 100%;
  display: grid;
  align-items: center;
  justify-items:center;
}

#caro{
  width: 100%;
  height: 100%;
}

.slider-pro{
  width: 100%;
  height: 100vh;
  background: red;
}

#section5{
  position: relative;
  z-index: 2;
  display: grid;
  /*margin-top: 100px;*/
  height: auto;
  margin-bottom: 250px;
}

.etapaT2{
  text-align: left !important;
  font-size: 30px;
  opacity: 0.2;
}

.etapaT1{
  text-align: left !important;
  font-size: 30px;
}

li{
  display: flex;
  align-items: center;
}

li>img{
  margin-right: 10px;
}

.enterate{
  position: relative;
}


#section6{
width: 100%;
height: 120vh;
position: relative;
z-index: 3;
}


.etapas{
  width: 30px;
  height: 5px;
  background: red !important;
  position: absolute;
  right: 0;
  z-index: 4;
  color: yellow;
  font-size: 20px;
  opacity: 0!important;
}

.queloque{
  position: absolute;
  opacity: 0.55;
}

.etapas2{
  top: 20%;
}

.etapas3{
  background: red !important;
  top: 40%;
}

.etapas4{
  background: red !important;
  top: 60%;
}

.etapas5{
  background: red !important;
  top: 75%;
}

.princi{
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
}

#entry{
  margin: 0 !important;
  margin-bottom: 0 !important;
  color: #40f29b;
  padding: 0 !important;
  font-weight: bold !important;
}

#section3{
  width: 100%;
  height: auto;
  /*background: linear-gradient(to top, black, #00101b);*/
  position: relative;
  display: grid;
  grid-template-columns: 40% 1fr;
  grid-column-gap: 20px;
  grid-template-rows: 1fr;
}

.pegatEsta{
  position: fixed !important;
  width: 100%;
  height: 100vh;
  top: 0 !important;
}

.sobre{
  background: linear-gradient(to top, transparent, #000103);
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
}

.etapa2{
  opacity: 0.2;
  transition: .3s;
}

.parriba{
  top: -170px !important;
}

.aparece{
  opacity: 1 !important;
}

.contenedor, .stagesToken{
    transition: .3s;
 }

#section4{
  width: 100%;
  height: 110vh;
  position: relative;
  z-index: 2;
}

.fondo{
  width: 100%;
  height: 100%;
  position: absolute;
  top: -150px;
  border-radius: 10px;
  /*background: linear-gradient(to bottom left, #002243, #040507);*/
  background: linear-gradient(to right, #23313f , #151c25);
}

#section7{
  width: 100%;
      height: 200vh;
      z-index: 1;
      position: relative;
}

#section8{
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 8;
}

.imgss{
  width: 100%;
  height: 100%;
      opacity: 0.08;
  background-image: url("../../assets/block.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
}

.stick{
  position: sticky;
    top: 100px;
    transition: .3s;
}

.stick p{
  font-size: 18px !important;
}

.pegado{
  position: sticky !important;
    top: 120;
}

.princi{
  width: 100%;
  height: 180px;
}

.contenedorChart{
  top: 150px;
  position: relative;
  width: 85% !important;
  height: 330px;
  display: grid;
}

.cfx{
  font-size: 12px;
}

.fee{
  font-size: 10px;
  color: green;
}

.element{
  grid-row-gap: 3px;
  position: absolute;
  padding: 5px 10px;
  background: white;
  display: grid;
  align-items: center;
justify-items: center;
border-radius: 5px;
transition: 1s;
}

.element p{
  margin: 0;
}

.element1{
  top: 89%;
  left: 5%;
}

.element2{
  left: 88%;
  top: 3%;
}

.element3{
  left: 89%;
  top: 2%;
  opacity: 0;
}

.element4{
  left: 87%;
  top: 2%;
  opacity: 0;
}

.element5{
  left: 44%;
  top: 29%;
  opacity: 0;
  background: transparent !important;
}

.element6{
  left: 66%;
  top: 40%;
  opacity: 0;
  background: rgb(121, 201, 255);
}

.element7{
  left: 66%;
  opacity: 0;
  top: 48%;
  background: rgb(121, 201, 255);
}

 .element8{
   left: 66%;
   top: 29%;
   background: transparent !important;
   left: 61%;
   top: 57%;
   opacity: 0;
 }

 .element9{
   left: 86%;
   top: 57%;
   background: transparent !important;
   opacity: 0;
 }

.element5Pos1{
  left: 31%;
  top: 40%;
}

.element3Pos1{
  left: 66%;
  top: 25%;
}

.element2Pos1{
  left: 45.5%;
    top: 50%;
}

.element2Pos2{
  left: 32% !important;
  top: 60% !important;
}

.element5 p, .element8 p, .element9 p{
  font-size: 12px;
  color: white !important;
}



#myChart2{
  /*top: 120px;*/
  position: absolute;
  display: none;
  width: 85% !important;
  justify-self:center;
  align-self: center;
  /*background: red !important*/
}



#pegalo{
  margin-top: 120px;
}

.mostrar{
  display: initial;
}

.pegalo{
  position: sticky !important;
}

.imgs{
  position: relative;
  z-index: 3;
  display: grid;
  align-items: start;
  justify-items: center;
  /*background: white;*/
  /*padding-top: 120px;*/
}

.contenedorCosas{
  /*height: calc(350vh - 350px);*/
  height: 180vh;
  position: relative;
  transition: 3s;
}

.decrecer{
  height: 150vh !important;
}


.description, .imgs{
  /*border: 2px solid yellow;*/
}

#media{
  width: 100%;
  height: 40vh;
}

.contentImgs{
  overflow: hidden;
  border-radius: 5px;
  width: 75%;
  height: 350px;
  /*display: flex;*/

  /*background: red;*/
  /*border: 2px solid yellow;*/

  /*background-image: url("/assets/img/mask.png");*/
  /*background-size: cover;*/
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
            /*padding: 25px 6px 0px;*/
}

#ventana{
  position: absolute;
  z-index: 4;
  top: 0;
    left: 0;
}

.slidVertical{
  width: calc(100% - 12px);
  height: 100%;
  position: relative;
  transition: .3s;
  padding: 25px 6px 0 6px;

}

.suba{
  top: -100% !important;
  }

  .suba2{
    top: -200% !important;
    }

.contVentana{
  position: relative;
  top: 0;
  transition: .4s;
    animation-timing-function: ease-in-out;
}

.description{
  /*background: white;*/
  position: relative;
  z-index: 3;
  height: 220vh;
  transition: 3s;
  /*height: 300vh;*/
}

.stagesToken{
  margin-top: 10px !important;
}

.contenidos h2{
  display: grid;
  align-items: center;
  margin: 0 !important;
  padding: 20px 20px 0 70px;
  /*color: #0198ff !important;*/
  color: #7392b1 !important;
  text-align: center;
}

.contenidos p{
  padding: 20px 20px 0 70px;
}

.titulars{
  display: grid;
  grid-template-rows: repeat(2, 120px);
  justify-items: center;
}

.titular{
  margin: 0 !important;
  width: 60%;
}

.stagesToken strong{
  font-size: 22px;
  margin-right: 10px;
}

.contenidos{
  width: 100%;
  /*height: 100vh;*/
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 170px 180px;
  grid-row-gap: 5px;
  color: white;
  /*border: 1px solid white;*/
}



.ciao{
  display: none !important;
}

.e1{
opacity: 0.2;
}
.e2{
opacity: 0.2;
}
.e3{
opacity: 0.2;
}
.e4{
  opacity: 0.2;
}
.e5{
  opacity: 0.2;
}

.desaparece{
  opacity: 0.2 !important;
}

.desaparecer{
  opacity:  !important;
}

#backgroundCont{
  position: absolute;
  transition: .4s;
}

#background{
  position: relative;
}

#wave{
  opacity: 0.5;
}

.price{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 25%);
  /*grid-template-rows: 30% 1fr;*/
  color: white;
  justify-items: center;
  text-align: center;
}

.price h2{
      margin-top: 25px;
}
.price input{
  text-align: center;
  /*color: #40f39b;*/
  color: #0198ff;
}
.epale{
      width: 70%;
      /*margin-top: 5px;*/
    }
.sen{
  display: flex;
}

.price img{
  align-self: center;
}

#section2{
  width: calc(100% - 80px);
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 40px;
  padding-right: 40px;
  /*margin-top: 50px;*/
  height: 80vh;
  /*background: linear-gradient(to top, black , #000e19);*/
  background: linear-gradient(to bottom, #1a2027 , #000000);

}

#section2 i{
  color: white;
}

.right>div{
  width: 300px;
  height: 300px;
  position: absolute;
  display: grid;
  align-items: center;
  justify-items:center;
  grid-template-rows: 1fr;
  z-index: 2;
  cursor: pointer;
}

.anim{
    width: 140px;
    height: 140px;
    top: 0;
    position: relative;
    display: grid;
    align-items: center;
    justify-items: center;
}

.animate{
  width: 110px;
  height: 110px;
  /*border: 1px solid #40f29b;*/
      border: 1px solid #0198ff;
  border-radius: 50%;
  position: absolute;
  transition: .3s;
}

.ani2{
  animation-delay: .5s;
}

.animm{
  animation-name: players;
  animation-duration: 1s; /* Duración total de la animación */
  animation-iteration-count: infinite; 	/* 'infinite' numero de veces que quiero que se repita mi animación */


  /* CAMBIAR EL SUAVIZADO DE MI ANIMACIÓN*/
  animation-timing-function: ease;
}

@keyframes players{
  0%{
    width: 110px;
    height: 110px;
  }
  100%{
    width: 150px;
    height: 150px;
    opacity: 0;
  }
}

.right>div>div{
  display: grid;
  align-items: center;
  justify-items:center;
  color: white;
  position: relative;
}



.right i{
  font-size: 55px;
  font-size: 140px;
  color: #0198ff !important;
}


.right{
  display: grid;
  align-items: center;
  justify-items: center;
  position: relative;
}

.left{
  /*display: grid;*/
  /*grid-template-columns: 1fr;*/
  /*grid-template-rows: 20%;*/
  color: white;
  padding-left: 75px;
  /*padding-top: 60px;*/
}

.vers{
  display: grid;
  grid-template-rows: 35% 25% !important;
  padding: 0;
}

#contenido1>h2{
  text-align: center;
}

.tits{
  width: 80%;
justify-self: center;
padding-bottom: 40px;
}

.listica li{
  margin-bottom: 40px;
}

.listica{
  padding-left: 50px;
}

.imgSect{
  display: grid;
  justify-items: center;
  position: relative;
}

.welco{
  position: absolute;
right: 0;
bottom: 0;
}

#cel{
  position: relative;
  z-index: 3;
  animation-duration: 1s;
      top: 30px;
  /*animation-name: players;*/
  animation-iteration-count: infinite;
}

.lucerito{
  position: relative;
  position: relative;
    display: grid;
    align-items: center;
    justify-items: center;
}

#lucer2{

  position: absolute;
transform-origin: left;
transform: rotate(90deg);
top: -30px;
left: 80px;
width: 500px;
}

#lucer{
  position: absolute;
  top: -50%;
  width: 90%;
}

.agua{
  position: relative;
  width: 100%;
  height: 100%;
}

#mockup{
  position: absolute;
  z-index: 2;
  right: -40px;
  top: 80px;
}

#piso{
    position: absolute;
    bottom: 0 !important;
    z-index: 1;
}

#piso2{
  position: absolute;
  bottom: -100px !important;
}

.imgSect img{
}

#section1-5{
    width: calc(100% - 30px);
  height: calc(125vh - 350px);
  padding: 350px 0 0 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items:center;
  /*background: linear-gradient(to bottom, black , #000e19);*/
  background: linear-gradient(to top, #1a2027 , #000000);
  }

.aas{
  height: 170px;
  padding: 0 !important;
  display: grid;
align-items: left;
/*padding: 0 40px !important;*/
height: auto;
text-align: left !important;
}

#alamie2{
  display: grid;
  grid-template-columns: 10% 1fr;
  position: relative;
}

#alamie{
      padding-top: 50px !important;
      display: grid !important;
      grid-template-rows: 20% 10% 1fr;
height: 350px;
padding-left: 50px !important;
}
.shortDesc{
  width: 100%;
  text-align: center;
}

.intt{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 !important;
  justify-content: flex-start;
}

#jaja{
  padding-left: 0 !important;
      font-weight: bold !important;
}

#custody{
   width: calc(100% - 75px);
   padding-bottom: 30px !important;
   font-weight: bold !important;
}

.colortit{
  color: #40f29b ;
  display: grid;
  align-items: end;
  width: 100%;
  position: relative;
  margin: 0 !important;
  text-align: left !important;
  padding: 0 !important;
}

.duo{
  padding: 0 40px;
display: flex;
align-items: center;
text-align: left !important;
}


#section1-5{

}

.colorparr{
  align-self: self-start;
}

.left h1{
  text-align: center;
  margin-bottom:50px;
      padding-left: 80px;
}

#custody span{
  color: #00ccac !important;
  margin-left: 6px;
}

#custody{
  display: flex;
      align-items: flex-end;
}

#entry span{
 color: #00ccac !important;
}

.contenedor h2{
  color: #00ccac !important;
}

h1, h2{
  /*color: #0198ff !important;*/
  /*color: #40f29b !important;*/
color: #7e9cb7 !important;
}

.left p{
    display: grid;
    align-items: start;
    text-align: center;
    font-size: 18px;
    margin: 0;
    width: 80%;
    text-align: left;
}

.socialIcon {
  display: flex;
align-items: center;
height: 30px;
justify-content: flex-end;
}

.socialIcon i{
  margin: 0 10px;
  color: #3992de ;
  /*box-shadow: 0 0 20px #4f9;*/
}

.pegateEsta{
  position: fixed !important;
  top: 0 !important;
}

.bagro{
  width: 100%;
  height: 100%;
  transition: .3s;
  opacity: 0;
      background: linear-gradient(to right, #1f2730 , #000000);
      box-shadow: 3px 3px 30px #00000099;
  position: absolute;
}

.menu{
  width: 100%;
  height: 55px;
  z-index: 10;
  transition: .3s;
  position: absolute;
  font-size: 17px !important;
}


.menutop{
  height: 30px;
  background: black;
  position: relative;
  z-index: 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 25px;
}

.header{
  position: relative;
  height: 100vh;
}

.contenido{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  display: grid;
  /*grid-template-columns: repeat(2, 1fr);*/
  grid-template-columns: 1fr;
  justify-items:center;
}

.titulo h1{
  font-size: 60px;
}

.titulo span{
  color: #00d2ff;
}

.titulo{
  color: white;
  align-self: center;
padding: 0 0 120px 40px;
}


.ctas{
  width: 100%;
  height: 60px;
margin-top: 70px;
  display: flex;
  justify-content: center;
}

.cta{
  border: 1px solid white;
  padding: 10px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 40px;
  border-radius: 6px;
}

.cta p{
  margin: 0 !important;
}


.countdown-container{
  position: absolute;
  width: 100%;
  height: 250px;
  bottom: -180px !important;
  display: flex;
  justify-content: center;
}


.card-count{
  width: 70%;
  height: 100%;
  background: #00080d;
  border-radius: 6px;
  display: grid;
  grid-template-columns: 1fr 40%;
  border-radius: 8px;
  border: 1px solid #001e34;
}

.counter{
  width: 100%;
  height: 100%;
  /*background: linear-gradient(to right, #012947 , #00101C);*/
      background: linear-gradient(to right, #1f2730 , #000000);
  border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    display: grid;
    grid-template-columns: 40px 1fr;
    grid-template-rows: 50% 1fr;
    grid-template-areas: "textend counter"
                         "textend avanced"
}

.textend{
  grid-area: textend;
}

.textend h3{
  transform: rotate(-90deg);
      width: 200px;
      color: white;
      transform-origin: left;
      margin-top: 200px;
      margin-left: 25px;
}

.counters{
  grid-area: counter;
  display: grid;
  grid-template-columns: repeat(4, 20%);
  justify-content: center;
  grid-template-rows: 1fr;
  padding-top: 15px;
}

.time{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 30px;
  /*grid-row-gap: 10px;*/
  position: relative;
}

.day img{
  opacity: 0.2;
}
.hour img{
  opacity: 0.4;

}
.min img{
  opacity: 0.7;

}
.seconds img{
  opacity: 1;

}

/*.time img{
  position: absolute;
}*/

.secondImg{
  animation-duration: 1s; /* Duración total de la animación */
}

.minuteImg{
  animation-duration: 60s; /* Duración total de la animación */
}

.iluminaloCabron{
  animation-name: iluminalo;
  animation-iteration-count: infinite; 	/* 'infinite' numero de veces que quiero que se repita mi animación */
  animation-duration: 1s; /* Duración total de la animación */
  animation-timing-function: cubic-bezier(1,1,1,1);
}



.loquese{
  margin: 0 !important;
  display: flex;
  /*color: #40f39b;*/
  color: #9dd7ff;

  font-size: 13px;
display: flex;
align-items: center;
}

.et1{
      padding-left: 26px;
}
/*.loquese span{
  font-size: 10px !important;
  display: flex;
  align-items: center;
}*/

.time h1, .time p{
  margin: 0 !important;
  /*color: #0198ff;*/
  color: white;
  justify-self:center;
}
.contim{
  position: relative;
  display: flex;
    justify-content: center;
    align-items: center;

}

.contim img{
  position: absolute;
  display: none;
}


.time p{
  font-size: 14px;
}

.time h1{
  /*align-self: end;*/
  font-size: 45px;
  font-weight: normal !important;
}


.avanced{
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: avanced;
}

.barra{
  width: 70%;
    height: 14px;
    border-radius: 5px;
    margin-bottom: 20px;
    position: relative;
    background: #11161b;
}

.time{

}

.softcap{
  width: 1px;
  height: 30px;
  background: white;
  position: absolute;
  left: 30%;
  top: -7px;
}

.do{
  left: 95% !important;
}

.progresado{
  height: 100%;
  width: 80%;
            /*background: linear-gradient(to right,#004a8a,#0196fb);*/
                background: linear-gradient(to right,#02AAB0, #00CDAC);
        border-radius: 5px;
}

.contdata{
  position: relative;
  color: yellow;
}

.cifraSoft{
  position: absolute;
  top: -40px;
  left: -20px;
}

.softcap2{
  position: absolute;
      top: 20px;
      left: -40px;
      width: 110px;
      font-size: 13px;
      /*color: #40f29b;*/
      color: #9dd7ff;
  }

.cta1{
  cursor: pointer;
  box-shadow: 0 0 15px #0089ff;
  background:  #3992de;
  transition: .3s;
  border: none !important;
}

.cta2{
  border: 2px solid #3992de;
box-shadow: 0 0 5px #0089ff;
transition: .3s;
color: #3992de;
cursor: pointer;
}
.cta2:hover{
  box-shadow: 0 0 14px #0089ff;

}

.cta1:hover, .ctass:hover {
  box-shadow: 0 0 30px #0089ff;
}

.lang{
  color: white;
  display: flex;
align-items: center;
font-size: 14px;
}

.intro p{
  font-size: 18px;
}

li > img {
    margin-right: 20px;
}

.ctass2{
  display: none;
}


.asigMob{
  display: none !important;
}








@media screen and (max-width: 600px) and (max-height: 900px){
























#section3{
  display: none;
}

.lang button{
  padding-left: 0 !important;
}

.per1{
  background: linear-gradient(to right, #00cc97, #00f297);
  width: 66%;
}

.per2{
  background: linear-gradient(to right, #50668d, #507e8d);
  width: 34%;
}

.per3{
  background: linear-gradient(to right, #003375, #004e75);
  width: 20%;
}

.per4{
  background: linear-gradient(to right, #0085f7, #00abf7);
  width: 14%;
}

.per5{
  background: linear-gradient(to right, #0099d6, #00bdd6);
  width: 14%;
}

.per6{
  background: linear-gradient(to right, #008947, #00b147);
  width: 7%;
}



.percents{
  height: auto;
  padding: 10px 10px 15px 10px;
  width: calc(100% - 20px);
}


.barreins{
  /*width: 100%;*/
  height: 40px;
  margin-bottom: 10px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.diablo{
  margin: 0 !important;
  color: white;
}

.asigMob{
  display: initial !important;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 3;
}

.titleas{
  margin: 0 !important;
  text-align: center;
  font-weight: bold !important;
  font-size: 30px !important;
  margin-bottom: 40px !important;
}

.titleas span{
  color: #40f29b;;
}

#presu{
  display: none;
}

.contFicha{
  width: 100% !important;
  margin: 0 !important;
}


.etapaT1, .etapaT2{
  padding-left: 20px !important;
}

.princi{
  margin-top: 80px !important;
}

.stagesToken{
  padding: 10px 20px !important;
}

.imgs{
  grid-template-columns: 1fr !important;
  display: none !important;
}

.colorparr{
  text-align: center !important;
}


.vers{
  margin-top: 80px;
  grid-template-rows: 18% 1fr !important;
  padding: 0;
}

.barra{
  background: #005254;
}

  .logoContCont{
        margin-left: 30px !important;
  }


 #tokenAdd{
   display: none !important;
 }


  .listica{
    padding: 0 !important;
  }


  .listica li{
    display: flex;
    flex-direction: column;
  }

  .listica li>img{
    margin: 0 0 22px 0 !important;
  }

  .listica li>p{
    text-align: center !important;
  }

  .left{
    display: grid;
    align-items: start;
    grid-gap: 15px;
    text-align: left;
    font-size: 18px;
}


  #section1-5{
    padding: 0 !important;
    display: none !important;
  }

  #alamie{
    padding: 0 !important;
  }

      .header{
        height: auto !important;
      }

      app-header{
        position: absolute;
        width: 100%;
        height: 100vh;
        }

      .ctas{
        width: 100%;
        height: 120px;
        margin-top: 90px;
        display: grid;
        justify-items: center;
        grid-gap: 20px !important;
      }

      .cta{
        margin: 0 !important;
        width: 200px !important;
        height: 40px !important;
      }

      .titulo{
        padding: 0 !important;
      }

      .contenidito{
        display: none !important;
      }

    app-members{
      display: none !important;
    }

    #backgroundCont{
      display: none !important;
    }

    #section7{
      display: none !important;
    }

    #roadMap{
      display: none !important;
    }

    #section5{
      /*display: none !important;*/
    }

    #section6{
      /*display: none !important;*/
    }

    #section4{
      /*display: none !important;*/
    }

    #custody span{
      /*display: none !important;*/
    }

    #custody{
      display: grid;
      text-align: center !important;
      font-size: 30px !important;
      padding-bottom: 60px !important;
    }

    #section3{
      /*display: none !important;*/
      grid-template-columns: 1fr !important;

    }
    .description{
      height: 200vh !important;
    }

    #section2{
      width: calc(100% - 20px) !important;
      padding: 0 10px !important;
      grid-template-columns: 1fr;
      /*height: 900px;*/
      height: 100vh;
      margin-top: 40px;
    }

    .right{
      display: none !important;
    }

    .conrazon{

    }

    .conlaDoble{

    }

    #section1-5{
      /*display: none !important;*/
    }

    .countdown-container{
      display: grid;
      position: relative;
      width: 100%;
      height: auto;
      bottom: inherit !important;
      justify-content: initial !important;
      margin-top: 50px;
    }

    .card-count{
      grid-template-columns: 1fr;
      grid-template-rows: 240px 240px;
      width: 100% !important;
      grid-gap: 45px;

      padding: 0 10px;
      width: calc(100% - 20px) !important;
    }

    .softcap2 {
    left: -70px;
    }

    #entry{
      font-size: 30px !important;
      padding: 0 15px !important;
    }

    .barra{
      width: 85% !important;
    }

    .landing{
      position: relative;
    }

    .ctaMob{
      position: fixed;
      width: 100%;
      height: 55px;
      /*z-index: 99;*/
      bottom: 0 !important;
    }

    .ctass2{
        cursor: pointer;
        box-shadow: 0 0 15px #0089ff;
        background: #3992de;
        transition: .25s;
        border: none !important;
        color: white;
        font-size: 18px;
        display: grid;
        align-items: center;
        justify-items:center;
        opacity: 0 !important;
        z-index: 9;
    }

    .ctass2 p{
      margin: 0 !important;
    }


    .comoFua{
      opacity: 1 !important;
    }

    .counter{
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #1f2730 , #000000);
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50% 1fr;
    grid-template-areas: " counter"
                         " avanced" !important;
    }

    .textend{
      display: none;
    }

    .contenido{
      position: relative;
      height: 85vh;
    }





}
