<section class="auth" [class.iniciar]="auth">

  <div class="header">
    <div class="login apareceLogin">

        <div class="logo">
          <h3 class="kanita"><span>COL</span>FINEX</h3>
        </div>

        <div class="formular">
          <form class="example-form">

              <div class="inpuText">
                <i class="material-icons iconito" >mail_outline</i>
                <input placeholder="Email" class="mail fuente" type="email">
              </div>

              <div class="inpuText">
                <i class="material-icons iconito">fingerprint</i>
                <input placeholder="Password" class="mail fuente" type="password">
              </div>
              <div class="inpuText" *ngIf="registro" >
                <i class="material-icons iconito">fingerprint</i>
                <input placeholder="Repeat Password" class="mail fuente" type="password">
              </div>

          </form>


        </div>
        <div id="social">
          <p class="fuente">Iniciar sesión con:</p>
          <div class="iconSocial">
            <i class="fab fa-facebook-square"></i>
            <i class="fab fa-google-plus-square"></i>
          </div>
        </div>

        <div id="cta">
            <div class="go" [routerLink]="['/dashboard']"><div class="ctas fuente">{{textCta}}</div></div>
            <div class="texti fuente"><p>¿Primera vez aquí?, <span (click)="registro = true;">¡Registrate!</span></p></div>
        </div>
    </div>
    <app-header id="encabezado" [class.log]="dec"></app-header>
  </div>

</section>
