.iniciar{
  opacity: 1 !important;
  transition:.3s !important;
}


.auth{
  opacity: 0;
  transition:.3s;
  height: auto;
  width: 100%;
}

.go{
  display: grid;
  align-items: center;
  justify-items: center;
}

.logo{
  width: 100%;
  height: 160px;
  display: grid;
  align-items: center;
  color: white;
}

.logo span{
  color: #00ACE9 !important;
}

.logo h3{
  text-align: center;
  margin: 0 !important;
}

.formular{
  width: 100%;
  height: 225px;
  display: grid;
  align-items: center;
}

.formular form{
  height: 100%;
      display: -ms-grid;
      display: grid;
      /* grid-template-rows: repeat(auto-fill, 80px); */
      align-items: center;
      grid-row-gap: 20px;
}

.inpuText{
  width: 100%;
  height: 60px;
  border: 1px solid #50667A;
  border-radius: 6px;
  overflow: hidden;
  display: grid;
  position: relative;
}

.inpuText:hover .iconito{
  color: #30DE80;
}

.inpuText i{
  position: absolute;
  color: #50667A;
  align-self: center;
  padding-left: 10px;
}

.mail{
  color: #50667A;
  width: calc(100% - 40px);
  height: 100%;
  border-style: none;
  background: transparent;
  padding-left: 40px;
  border: 1px solid transparent;
  outline: none;
  font-size: 16px;
}

.mail:focus{
  color: #30DE80;
  outline: none;
  border: 1px solid red !important;
  border-style: none !important;
}

.mail:focus .iconito{
  color: #30DE80 !important;
}


#social{
  width: 100%;
  height: 100px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  color: #50667A;
  margin-top: 15px;
}

#social p{
  padding-bottom: 15px;
  align-self: end;
  border-bottom: 1px solid #50667A;
  margin: 0;
}

.iconSocial{
  align-items: center;
  justify-items: center;
  display: grid;
  grid-template-columns: repeat(4, 60px);
}

.iconSocial i{
  font-size: 30px;
}

#cta{
  width: calc(100% - 70px);
  height:  100px;
  position: absolute;
  bottom: 0;
  display: grid;
  margin-bottom: 25px;
}

.ctas{
  width: 250px;
  height: 50px;
  display: grid;
  align-items: center;
  justify-items: center;
  border-radius: 6px;
  font-weight: bold;
  background: linear-gradient(to bottom right, #03CDFC, #2F88DB);
  cursor: pointer;
}



#cta{
  display: grid;
  grid-template-rows: 1fr 20px;
}


.header{
  height: 100vh;
  width: 100%;
  position: relative;
  display: grid;
  align-items: center;
  justify-items:center;
}

.texti p{
  margin: 0;
  color: white;
  text-align: center;
}

.texti span{
  color: #00ACE9;
  cursor: pointer;
}

.login{
  width: 470px;
  height: 600px;
  border: 1px solid black;
  box-shadow: 3px 3px 30px #00000099;
  padding: 10px 35px;
  /*background: white;*/
  background: linear-gradient(to bottom right, #2B3742, #010204);
  position: relative;
  z-index: 5;
  border-radius: 6px;
  transform: scale(0);
  opacity: 0;
}


.calc{
  position: relative;
    display: grid;
    align-items: center;
    justify-items: center;
}

.log{
  filter: blur(5px) !important;
}

#encabezado{
  position: absolute;
  width: 100%;
  height: 100%;
  filter: blur(0);
  transition: .3s;
}


.apareceLogin{
  animation-name: login;
  animation-duration: .5s; /* Duración total de la animación */
  animation-delay: .3s;
  animation-fill-mode: forwards;/* la animación se queda en como termina la animación, es decir en el 100%*/

  /*animation-timing-function: ease;
  animation-timing-function: ease-in;
  animation-timing-function: ease-out;
  animation-timing-function: ease-in-out;
  animation-timing-function: linear;*/
}

@keyframes login{
  0%{
    opacity: 0;
    transform: scale(0.5);
  }
  30%{
    opacity: 0;
  }
  80%{
    opacity: 1;
    transform: scale(1.2);
  }
  100%{
    transform: scale(1);
    opacity: 1;
  }
}






@media screen and (max-width: 600px) and (max-height: 900px){

.login{
  width: 90%;
  padding: 0 10px;
  height: 80%;
}

#cta{
  width: calc(100% - 20px) !important;
}


}
