
.encabezado{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
  background: linear-gradient(to bottom left, #012845, #011019);
  position: relative;
  overflow: hidden;
   	/* Tiempo que transcurrido para que la animación inicie */
}

.putisima{
  width: 100%;
  height: 100%;
  /*background: red;*/
  position: absolute;
  z-index: 0;
  opacity: 0.45;
}

#putita{
  filter: grayscale(50%);
}

.encabezado video{
  position: absolute;
  opacity: 0.2;
}

.deg{
  width: 100%;
  height: 35%;
  background: #00101b;
  position: absolute;
  bottom:0;
  background: linear-gradient(to top, #000000 , transparent);
}

.animate{
  animation-name: screen;
  animation-duration: 2s; /* Duración total de la animación */
  animation-iteration-count: infinite; /* 'infinite' numero de veces que quiero que se repita mi animación */
  /*animation-direction: reverse; /* La animación se ejecuta de 1000% a 0% */
  animation-direction: alternate; /* La animación se ejecuta de 0% a 100% y de 100% a 0%*/
  /*animation-fill-mode: forwards; /* la animación se queda en como termina la animación, es decir en el 100%*/*/
  animation-timing-function: cubic-bezier(1,1,1,1);
}

@keyframes screen{
  0%{
    transform: translateX(0px);

  }
  100%{
    transform: translateX(10px);
  }
}

.fondo{
  position: relative;
  display: grid;
  align-items: start;
  justify-items:center;
}

.contImgss{
  position: relative;
  width: 80%;
  height: 450px;
  margin-top: 70px;
  display: none !important;
}

.second{
   margin-top: 20px;
}

.tercer{
 margin-top: 30px;
 animation-delay: .4s;
}



.contImgss img{
  position: absolute;
}

.primer{
  z-index: 1;
}

.second{
  z-index: 2;
  right: 50px;
}

.tercer{
  z-index: 3;
  right: 110px;
}



































#myChart{
  /*width: 400px !important;*/
  /*height: 300px !important;*/
}

.contcant:hover .title{
  color: #40f29b;
}

.contcant{
  border-radius: 5px;
  height: 100%;
  padding: 0 30px;
  background: linear-gradient(to right, #122739, #0D1C28);
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.dentro{
  border-radius: 6px;
  width: 100px;
  height: 100px;
  background: #40f29b;
  position: absolute;
  right: 20px;
  transform: rotate(45deg);
  top: -140%;
  transition: .3s;
}

.contcant:hover .dentro{
  top: -65%;
}

.hijo{
  position: relative;
}

.hijo p{
  color: white;
  margin: 0 !important;
  color: #40f29b !important;
  font-size: 20px;
  transform: translateZ(20px);
}

.rotar{
  animation-duration: 1s;
  animation-name: rotalo;
  animation-iteration-count: infinite; 	/* 'infinite' numero de veces que quiero que se repita mi animación */
  animation-timing-function: cubic-bezier(1,1,1,1);
  position: absolute;
  opacity: 0;
  left: -15px;
  transition: .3s;
}
.contcant:hover .rotar{
  opacity: 1;
}




@keyframes rotalo{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg) ;
  }
}

.percent{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  right: 70px;
  background: linear-gradient(to right bottom, #122739, #0D1C28);
  position: absolute;
  justify-content: center;
  transform-style: preserve-3d;
}

.contcant p{
  color: #43a9ff;
}

.lines{
  width: 4px;
  height: 50%;
  background: #40f29b;
  margin-right: 15px;
}


#presupuesto{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 35% 1fr;
  height: 100%;
  grid-column-gap: 20px;
  grid-template-areas: "titulo titulo"
                       "cants chart"
}

.eyla{
  display: grid !important;
  grid-template-rows: repeat(2, 1fr);

}

.titulo{
  color: #40f29b;
  grid-area: titulo;
  text-align: center;
  display: grid;
  align-items: center;
  padding-top: 150px;
}

.title{
  color: #43a9ff;
  font-size: 18px;
}

.pelotuda{
  width: 65px;
  height: 65px;
  border-radius: 50%;
  margin-right: 15px;
  border-radius: 50%;
  border: 1px solid #40f29b;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cants div{
  display: flex;
  align-items: center;
}

.cants{
  color: white;
  grid-area: cants;
  padding-left: 80px;
  display: grid;
  grid-template-rows: repeat(4, 90px);
  align-self: center;
  align-items: center;
  grid-row-gap: 20px;
}

.chart{
  grid-area: chart;
  display: grid;
  align-items: center;
}
