
<div class="encabezado">

  <div class="putisima" id="putita">

  </div>


  <div class="puta"></div>

  <div class="fondo">
      <div class="contImgss">
          <img class="primer" src="./assets/img/base1.png" width="100%">
          <img class="second animate" src="./assets/img/dos.png" width="90%">
          <img class="tercer animate" src="./assets/img/tres.png" width="85%">
      </div>
  </div>

  <div class="deg"></div>

<!-- <div class="chart">
  <canvas id="myChart"></canvas>
</div> -->

</div>
