
<div class="contSection">
  <div class="titles fuente inch"><h2>Asignación <span>Presupuestaria</span></h2></div>
  <div class="uno">
      <div class="graphics" data-calibrate-y="true"  data-relative-input="true" id="scene" data-hover-only="true" data-invert-y="true" data-invert-x="true">

          <div class="pinch cabron1" data-depth="0.3" >
            <div class="conRel">
              <div class="indicador indi1">
                  <div class="infoIndi1 infoIndi fuente">
                    <h3>56% Desarrollo Exchange</h3>
                  </div>
              </div>
              <img src="./assets/chart/1.png" width="50%"    id="epales">
            </div>
          </div>


          <div class="pinch cabron2" data-depth="0.5" >
            <div class="conRel">
              <div class="indicador indi2">
                  <div class="infoIndi2 infoIndi fuente">
                    <h3>12% Equipo Fundador</h3>
                  </div>
              </div>
              <img src="./assets/chart/2.png" width="50%" id="epales">
            </div>
          </div>


          <div class="pinch cabron3" data-depth="0.8" >
            <div class="conRel">
              <div class="indicador indi3">
                  <div class="infoIndi3 infoIndi fuente">
                    <h3>4% E.S.O.P</h3>
                  </div>
              </div>
              <img src="./assets/chart/3.png" width="50%" id="epales">
            </div>
          </div>


          <div class="pinch cabron4" data-depth="1" >
            <div class="conRel">
              <div class="indicador indi4">
                  <div class="infoIndi4 infoIndi fuente">
                    <h3>7% Avisors & Partners</h3>
                  </div>
              </div>
              <img src="./assets/chart/4.png" width="50%" id="epales">
            </div>
          </div>



          <div class="pinch cabron5" data-depth="1.2" >
            <div class="conRel">
              <div class="indicador indi5">
                  <div class="infoIndi4 infoIndi fuente">
                    <h3>7% Bounty Detección de bugs</h3>
                  </div>
              </div>
              <img src="./assets/chart/5.png" width="50%"  id="epales">
            </div>
          </div>



          <div class="pinch cabron6" data-depth="1" >
            <div class="conRel">
              <div class="indicador indi6">
                  <div class="infoIndi6 infoIndi fuente">
                    <h3>10% Marketing y operaciones</h3>
                  </div>
              </div>
              <img src="./assets/chart/6.png" width="50%"  id="epales">
            </div>
          </div>






          <!-- <img src="./assets/chart/1.png" width="50%" class="cabron1" data-depth="0.2"   id="epales"> -->
          <!-- <img src="./assets/chart/2.png" width="50%" class="cabron2" data-depth="0.5"  id="epales"> -->
          <!-- <img src="./assets/chart/3.png" width="50%" class="cabron3" data-depth="0.8"  id="epales"> -->
          <!-- <img src="./assets/chart/4.png" width="50%" class="cabron4" data-depth="1.5"  id="epales"> -->
          <!-- <img src="./assets/chart/5.png" width="50%" class="cabron5" data-depth="1.2"  id="epales"> -->
      </div>

  </div>

</div>
