.contSection{
  width: 100%;
  height: 100%;
  z-index: 99;
  position: relative;
  display: grid;
  /*grid-template-columns: 80% ;*/
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  top: -50px;
  /*justify-items:center; */
}


.inch span{
  color: #00ccac !important;
}

#oolk{
  color: #00ccac !important;
}

.inch h2{
  color: #7e9cb7 !important;

}


.uno{
  display: grid;
  align-items: center;
  justify-self:center;
  right: 0;
position: absolute;
width: 82%;
height: 85%;
}


.graphics{
  width: 100%;
  height: 100%;
  position: relative;
  /*display: grid;*/
  /*align-items: center;*/
  /*justify-items:center;*/
}

.cabron7{
  z-index: 1;
}

.cabron6{
  z-index: 2;
}

.cabron5{
  z-index: 3;
}

.cabron4{
  z-index: 4;
}

.cabron3{
  z-index: 3;
}

.cabron2{
  z-index: 6;
}

.cabron1{
  left: -13px !important;
  z-index: 7;
  width: 100% !important;
  height: 100% !important;
  /*position: relative !important;*/

}

.indicador{
  position: relative;
  height: 2.5px;
}

  .indi1{
    width: 70%;
    background: white;
    top: 88%;
    left: 3%;
    z-index: 8;
    background: #00f297;
  }


  .indi2{
    width: 19%;
    background: white;
    top: 15%;
    left: 49%;
    z-index: 8;
    background: #507e8d;
  }

  .indi3{
    width: 22%;
    background: white;
    top: 32%;
    left: 40%;
    z-index: 8;
    background: #00b147;
  }

  .indi4{
    width: 30%;
    background: white;
    top: 47%;
    left: 30%;
    z-index: 8;
    background: #00bdd6;
  }

  .indi5{
    width: 40%;
    background: white;
    top: 61%;
    left: 21%;
    z-index: 8;
    background: #00abf7;
}

  .indi6{
    width: 53%;
    background: white;
    top: 75%;
    left: 11%;
    z-index: 8;
    background: #004e75;
  }

  .titles{
    position: absolute;
    left: 70px;
    top: 0;
    color: #40f29b;
    font-size: 45px !important;
  }

  .titles h2{
        font-size: 45px !important;
            font-family: 'Kanit', sans-serif !important;
  }

.infoIndi h3{
  color: white;
    display: flex;
    width: 180px;
    font-weight: normal;
    font-size: 14px !important;
    top: 10px;
    position: relative;
}

.infoIndi h3>span{
  color: white;
  font-weight: bold;
  margin-right: 10px;
}


  .infoIndi{
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: -10px;
    left: 0 !important;
  }
  .infoIndi1{
    background: #00f297;
  }

  .infoIndi2{
    background: #507e8d;
  }

  .infoIndi3{
    background: #507e8d;
  }


  .infoIndi4{
    background: #507e8d;
  }


  .infoIndi5{
    background: black;
  }

  .infoIndi6{
    background: #004e75;
  }

.conRel{
  /*width: 50%;*/
  height: 100%;
  position: relative;
}

#epales{
  position: absolute !important;
  left: 50% !important;
  height: 100%;

}

.pinch{
  width: 100% !important;
  height: 100% !important;
}

.graphics img, .pinch{

  position: absolute !important;
  /*right: 0 !important;*/

}
