.roadmap{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:1fr;
  height: auto;
}

.containerContent{
  position: relative;
  display: grid;
  align-items: center;
  width: 350px;
  padding-left: 40px;
  color: white;
}

.slidesCont{
  width: 90%;
  display: grid;
  grid-template-columns:1fr;
  grid-template-rows: 80% 1fr;
  height: 100%;
}

.putisima{
  width: 200px;
  height: 200px;
  background: white;
}

.slideItems{
  display: grid;
  /*grid-template-columns: repeat( auto-fill, minmax(40px, 120px) )*/
}
.item{
  padding: 15px;
  background: gray;
}

slideshow{
  width: 100%;
}

.slideshow-container{
  min-height: 100% !important;
}

.textico{
  margin: 0 !important;
}

.hito{
  width: 100%;
  height: auto;
  /*background: red;*/
  position: relative;
  display: -ms-grid;
  display: grid;
  padding-top: 70px;
  /*justify-items: center;*/
  grid-template-columns: 30px 1fr;
}

.contenedorHit{
  height: auto;
  position: relative;
}

.hitoCard{
  position: relative;
}


.cardHito{
  height: auto;
  width: 100%;
  transition: .3s;
  overflow: hidden;
  height: 270px;
}


.act{
  background: rebeccapurple !important;
}

.dec{
background: #009688 !important;
}

.contenidoHito{
  width: 100%;
  display: grid;
  grid-template-rows: 120px 1fr;
height: 100%;
    /*background: linear-gradient(to bottom right, #1E1E1E, #272727);*/
}

.headerHit h1{
  display: flex;
}

.headerHit i{
  /*margin-left: 12px;*/
   display: flex;
    align-items: center;
    font-size: 30px;
    position: absolute;
    right: 50px;
}

.headerHit{
  position: relative;
  display: grid;
  align-items: center;
  color: white;
  padding-left: 28%;
  transition: .3s;
  cursor: pointer;
  background: linear-gradient(to right, #192026 , #00000082);
}

.headerHit h1{
  padding: 0 65px 0 15px;
  font-size: 22px !important;
}

.activeheaderHit{
  padding-left: 43%;
}

.proof{
  height: 250px;
}

.imgConteH{
  background: yellow;
  position: absolute;
  z-index: 2;
  top: -50px;
  border-radius: 6px;
  transition: .3s;
  cursor: pointer;
  width: 25%;
    height: 200px;
}



.contentHitoImg{
  width: 100%;
  height: 100%;
  position: relative;
  background: white;
  border-radius: 6px;
  /*overflow: hidden;*/
}


.activate{
  border: 2px solid #3FF299 !important;
  opacity: 1 !important;
}


.contentHitoImg img{
  border-radius: 5px;
}



.borders{
  position: absolute;
  width: 150px;
  height: 150px;
  bottom: -30px;
  right: -30px;
  border-bottom: 2px solid #3FF299;
  border-right: 2px solid #3FF299;
  border-bottom-right-radius: 6px;
  transition: .3s;
}


.imgHito{
  height: 200px;
  width: 200px;
  background: green;
}

.element{
  width: 20px;
  height: 20px;
  position: sticky;
  top: 170px;
  display: grid;
  justify-self: center;
}

.girosculo{
  position: absolute;
  top: -6px;
  animation-duration: 1s;
  /*display: none;*/
}

.aparece{
  opacity: 1 !important;
  font-size: 20px;
  font-weight: bold;
}

.YearAnim p{
  margin: 0 !important;
  color: #40f29b;
  position: absolute;
}

.titleRoad{
  width: 100%;
  height: 100% !important;
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

.titleRoad h2{
  text-align: center;
  height: 100%;
  margin: 0;
  display: grid;
  align-items: center;
  width: 100%;
  color:#3fea96;
}

.imgPre{
  width: 60%;
  height: 220px;
  overflow: hidden;
  border-radius: 6px;
  height: 100% !important;
  border: 1px solid #3fea96;
  width: 75%;
}

.activeBor{
  bottom: -8px;
right: -8px;
}

#putito{
  position: absolute;
  font-size: 200px !important;
  margin: 0;
  top: 0px;
  opacity: 0.5;
  font-family: 'Noto Sans', sans-serif !important;
}


.contentRoad{
  display: grid;
  justify-items: center;
  border-radius: 6px;
  grid-row-gap: 20px;
  color: #3fea96;
  padding: 0 130px;
  grid-template-rows: 80% 1fr;
      height: calc(100% - 30px);
      padding-top: 30px;
      position: relative;
}

.rayabaja{
  width: 40%;
  height: 2px;
  background: #3fea96;
  justify-self: right;
}

.conteMedium{
  align-self: center;
}


.conteMedium p{
  margin-top: 25%;
}

.iconoAbajo{
  color: white;
  font-size: 25px;
  color: #3FF299;
}

.animatEste{
  animation-name: animArriba;
  animation-duration: 1s; /* Duración total de la animación */
  animation-iteration-count: infinite; 	/* 'infinite' numero de veces que quiero que se repita mi animación */
  animation-direction: alternate;/* La animación se ejecuta de 0% a 100% y de 100% a 0%*/

  /* CAMBIAR EL SUAVIZADO DE MI ANIMACIÓN*/
  animation-timing-function: ease;
}


@keyframes animArriba{
  0%{
    transform: translateY(-5px);
  }
  10%{
    opacity: 0;
  }
  100%{
    transform: translateY(5px);
    opacity: 1;
    /*display: none;*/
  }
}



.activeimgConteH{
  width: 43%;
  height: 330px;
  top: -80px;
}

.carruh{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  padding: 15px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  background: #000000;
  padding-top: 60% !important;
}


.itemCarru{
  /*background: black;*/
  display: grid;
  align-items: center;
  cursor: pointer;
}

.itemCarru img{
    border-radius: 3px;
    opacity: 0.2;
    transition: .2s;
    border: 2px solid black;
}

.contenidoH{
  display: grid;
  grid-template-columns: 30% 1fr;
  justify-self: center;
  width: 90%;
  background: linear-gradient(to right bottom, #2b2b2b61, #121212);
  height: 450px;
}

.contentRoad p{
  text-align: center;
color: white;
}

#contenidoH1{
  transition: .3s;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 10% 1fr;
  grid-template-rows: 1fr;
  height: calc(100% - 40px);
  padding: 20px 50px;
  width: calc(100% - 100px);
  /*grid-row-gap: 30px;*/
}

#contenidoH2{
  transition: .3s;
}

#contenidoH3{
  transition: .3s;
}

#contenidoH4{
  transition: .3s;
}

#contenidoH5{
  transition: .3s;
}

.putisima{
  /*color: red;*/
}

.aparecelo{
  animation-name: apareces;
  animation-duration: 1s;
  /*animation-delay: 1s;*/
  animation-iteration-count: 1;
  /*animation-direction: reverse;*/
  /*animation-direction: alternate;*/
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}


@keyframes apareces{
  0%{
    transform: translateY(-40px);
  }
  10%{
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
    /*display: none;*/
  }
}

.desaparecelo{
  animation-name: desapareces;
  animation-duration: 1s;
  /*animation-delay: 1s;*/
  animation-iteration-count: 1;
  /*animation-direction: reverse;*/
  /*animation-direction: alternate;*/
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}


@keyframes desapareces{
  0%{
    opacity: 1;
    transform: translateY(0px);
  }
  90%{
  }
  100%{
    transform: translateY(-40px);
    opacity: 0;
    /*display: none;*/
  }
}


.YearAnim{
      position: absolute;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      background: #041b2e;
      border: 1px solid #0198ff;
      display: grid;
      align-items: center;
      justify-items:center;
      transition: .3s;
      left: -26px;;
}

.gononea{
  left: -100px;

}


.oka{
  overflow: hidden;
  border: none !important;
}


.degrad{
  width: 500px;
  height: 100px;
  /*background: red;*/
  background: linear-gradient(to bottom, black , transparent);
  transform: translateY(-20px);
}

.year{
  width: 100%;
  height: 50px;
  position: sticky;
  top: 55px;
  display: grid;
  justify-items: center;
  /*background: linear-gradient(to bottom, black, transparent);*/

}



.yearContainer{
  width: 100%;
  height: 30px;
  /*background: red;*/
  position: absolute;
  z-index: 1;
  height: 90%;
  padding-top: 70px;
      width: 3%;
}

.hitoContent{
  position: absolute;
  width: 350px;
  /*padding-left: 50px;*/
  height: 100%;
  color: #3fea96;
      left: -230px;
}




.hitoContent p{
  transition: .3s;
  margin: 0 !important;
  opacity: 0.3;
}

.elementoInfo{
  position: relative;
  background: #3fea96;
  border-radius: 50%;
  box-shadow: 1px 3px 10px black;
}


.line{
  position: absolute;
  width: 5px;;
  height: 100px;
  background: #2b3743;
  top: 100px;
  /*height: calc(100% - 200px);*/
  height: 96%;
      left: 12.5px;
}


.lifeLine{
  position: relative;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  padding-top: 200px;
  justify-items: left;
  grid-row-gap: 90px;
}

/*.timeLineContainer img{
  position: absolute;
}*/

.contImg{
  position: absolute;
  width: 100%;
  height: 100%;
}

.contImg img{
  position: sticky;
  top: 0;
  opacity: 0;
  transform: translate(-70px);
}


.timeLineContainer{
  display: grid;
  padding-left: 70px;
  position: relative;
}

.c2{
  opacity: 0;
}

.timeLine{
  display: grid;
  position: relative;
  padding-left: 20%;
}

.containerFix{
  display: grid;
  position: relative;
  justify-items: center;
}

.containerCards{
  width: 100%;
  height: 100%;
  position: relative;
  display: -ms-grid;
  display: grid;
}





.cardFix{
  width: 100%;
  height: 87vh;
  background: transparent;
  border-radius: 6px;
  position: -webkit-sticky;
  position: sticky;
  top: 70px;
  display: -ms-grid;
  display: grid;
  align-items: center;
  justify-items: center;
}


.colorss{
  color:#40f29b;
  padding-left: 10px !important;
  display: flex !important;
  align-items: center !important;
}



@media screen and (max-width: 600px) and (max-height: 900px){


.colorss img{
  border-radius: 50%;
  margin-right: 15px;
}

  .hito{
    padding-top: 40px;
    }


#putito{
  display: none !important;
}

.contentRoad{
    grid-template-rows: 1fr;
  }


.rayabaja{
  display: none !important;
}

  #oolk{
    margin-top: 0 !important;
  }



.lifeLine{
  padding-top: 0 !important;
  grid-row-gap: 20px;
}


.headerHit h1{
  padding: 0 !important;
  padding-left: 15px !important;
}

  .conteMedium p {
      margin-top: 15%;
  }

  .headerHit i {
      right: 5px;
  }

.year{
  display: none;
}

  .headerHit h1 {
      /*padding: 0 !important;*/
      font-size: 18px !important;
  }


.contentRoad{
  padding: 0 !important;
}

.contenidoH{
    grid-template-columns: 1fr !important;
}

.carruh{
  display: none;
}

.headerHit{
  padding: 0 !important;
}
.imgConteH{
  display: none;
}

.timeLineContainer{
  padding: 0 !important;
}


.timeLine{
  padding: 0 !important;
}







}
