<div class="roadmap">
  <div class="timeLineContainer">
    <!-- <div class="contImg">
      <img src="./assets/img/roadmap.png" width="150%">
    </div> -->

    <div class="timeLine">
      <div class="lifeLine">
        <div class="yearContainer">
          <div class="year">
            <div class="YearAnim fuente">
              <p>{{yearRoadmap}}</p>
              <img class="girosculo rotaloCabron" src="./assets/img/count.png" width="100%">
              <img src="./assets/img/roadmap.png" width="100%">
            </div>
          </div>
        </div>

        <div class="line"></div>

        <div class="hito" id="hito1">
            <div class="element" >
              <div class="elementoInfo">
                <div class="hitoContent fuente"><p id="hitoC1">2015 - Q3</p></div>
              </div>
            </div>

            <div class="hitoCard">

              <div class="imgConteH"  [class.activeimgConteH]="hito1 == true" >
                <div class="contentHitoImg">
                  <img [src]="imgHito1Active" width="100%" height="100%">
                  <div class="borders" [class.activeBor]="hito1 == true"></div>
                </div>
              </div>

              <div class="cardHito" [ngStyle]="{'height': (hito1) ? '650px' : '120px' }">
                    <div class="contenidoHito">
                      <div class="headerHit" (click)="hito1 = !hito1" [class.activeheaderHit]="hito1 == true">
                        <h1 [class.colorss]="movil"><img [src]="imgHito1Active" *ngIf="movil" width="50" height="50" >{{(movil)? '2015 - Q3' : 'Pasarela de Pagos Bitcoin'}}
                          <i class="material-icons iconoAbajo animatEste">
                            keyboard_arrow_down
                          </i>
                        </h1>
                      </div>
                      <div class="contenidoH fuente">
                        <div class="carruh">
                          <div class="itemCarru" *ngFor="let image of imagesHito1">
                            <img [src]="image" width="100%" height="80" (click)="imgHito1Active = image" [class.activate]="imgHito1Active == image">
                          </div>
                        </div>
                            <div class="contentRoad">
                              <h1 id="putito">"</h1>
                              <div class="conteMedium">

                                <img [src]="imgHito1Active" *ngIf="movil" width="100%" >
                                <h2 *ngIf="movil">Pasarela de Pagos Bitcoin</h2>
                                <p>
                                  Se desarrolla desde argentina en el 2015, una pasarela digital que permite a los comerciantes recibir pagos en Bitcoin y retirar en moneda local.
                                </p>
                              </div>

                              <div class="rayabaja">

                              </div>
                            </div>

                      </div>
                    </div>
              </div>
            </div>
      </div>





<!-- HITO2  ############################################################################################################## -->

      <div class="hito" id="hito2">
          <div class="element" >
            <div class="elementoInfo">
              <div class="hitoContent fuente"><p id="hitoC2">2016 Q2</p></div>
            </div>
          </div>

          <div class="hitoCard">

            <div class="imgConteH"  [class.activeimgConteH]="hito2 == true" >
              <div class="contentHitoImg">
                <img [src]="imgHito2Active" width="100%" height="100%">
                <div class="borders" [class.activeBor]="hito2 == true"></div>
              </div>
            </div>

            <div class="cardHito" [ngStyle]="{'height': (hito2) ? '650px' : '120px' }">
                  <div class="contenidoHito">
                    <div class="headerHit" (click)="hito2 = !hito2" [class.activeheaderHit]="hito2 == true">
                        <h1 [class.colorss]="movil"><img [src]="imgHito2Active" *ngIf="movil" width="50" height="50" >{{(movil)? '2016 - Q2' : 'Proyecto Fintech más innovador de Colombia:'}}
                          <i class="material-icons iconoAbajo animatEste">
                            keyboard_arrow_down
                          </i>
                        </h1>
                    </div>
                    <div class="contenidoH fuente">
                      <div class="carruh">
                        <div class="itemCarru" *ngFor="let image of imagesHito2">

                          <img [src]="image" width="100%" height="80" (click)="imgHito2Active = image" [class.activate]="imgHito2Active == image">
                        </div>
                      </div>

                          <div class="contentRoad">
                            <h1 id="putito">"</h1>
                            <div class="conteMedium">

                              <img [src]="imgHito2Active" *ngIf="movil" width="100%" >
                              <h2 *ngIf="movil">Proyecto Fintech más innovador de Colombia:</h2>

                              <p>
                                En el Q2 del 2016 fuimos seleccionados como uno de los 12 proyectos mas innovadores de colombia para participar en un proceso de aceleración durante 12 semanas llevado a cabo por NXTP Labs, una aceleradora Latinoamericana y uno de los fondos de inversión en tecnología más activos de la región el cual se encuentra en Argentina, Chile, Colombia, México, Uruguay, Brasil y Sillicon Valley.
                              </p>

                            </div>

                            <div class="rayabaja">

                            </div>

                          </div>


                    </div>
                  </div>
            </div>
          </div>
    </div>







<!-- Hito 3 ################################################################################################################################## -->

    <div class="hito" id="hito3">

        <div class="element" >
          <div class="elementoInfo">
            <div class="hitoContent fuente"><p id="hitoC3">2016 - Q4</p></div>
          </div>
        </div>

        <div class="hitoCard">

          <div class="imgConteH"  [class.activeimgConteH]="hito3 == true" >
            <div class="contentHitoImg">
              <img [src]="imgHito3Active" width="100%" height="100%">
              <div class="borders" [class.activeBor]="hito3 == true"></div>
            </div>
          </div>

          <div class="cardHito" [ngStyle]="{'height': (hito3) ? '650px' : '120px' }">
                <div class="contenidoHito">
                  <div class="headerHit" (click)="hito3 = !hito3" [class.activeheaderHit]="hito3 == true">

                    <h1 [class.colorss]="movil"><img [src]="imgHito3Active" *ngIf="movil" width="50" height="50" >{{(movil)? '2016 - Q4' : 'Re-brandring a Cryptropay'}}
                      <i class="material-icons iconoAbajo animatEste">
                        keyboard_arrow_down
                      </i>
                    </h1>

                  </div>
                  <div class="contenidoH fuente">
                    <div class="carruh">
                      <div class="itemCarru" *ngFor="let image of imagesHito3">

                        <img [src]="image" width="100%" height="80" (click)="imgHito3Active = image" [class.activate]="imgHito3Active == image">
                      </div>
                    </div>

                        <div class="contentRoad">
                          <h1 id="putito">"</h1>
                          <div class="conteMedium">
                            <img [src]="imgHito3Active" *ngIf="movil" width="100%" >
                            <h2 *ngIf="movil">Re-brandring a Cryptropay</h2>
                            <p>
                              Un sistema de compra y venta de Bitcoins que utiliza medios de pago tradicionales lanzado para Colombia como solución para formalizar el proceso de compra y venta dentro del país a través de una plataforma rápida y segura.
                            </p>
                          </div>

                          <div class="rayabaja">

                          </div>

                        </div>

                  </div>
                </div>
          </div>
        </div>
    </div>







    <!-- Hito 4 ################################################################################################################################## -->

        <div class="hito" id="hito4">

            <div class="element" >
              <div class="elementoInfo">
                <div class="hitoContent fuente"><p id="hitoC4">2017 - Q3</p></div>
              </div>
            </div>

            <div class="hitoCard">

              <div class="imgConteH"  [class.activeimgConteH]="hito4 == true" >
                <div class="contentHitoImg">
                  <img [src]="imgHito4Active" width="100%" height="100%">
                  <div class="borders" [class.activeBor]="hito4 == true"></div>
                </div>
              </div>

              <div class="cardHito" [ngStyle]="{'height': (hito4) ? '650px' : '120px' }">
                    <div class="contenidoHito">
                      <div class="headerHit" (click)="hito4 = !hito4" [class.activeheaderHit]="hito4 == true">

                        <h1 [class.colorss]="movil"><img [src]="imgHito4Active" *ngIf="movil" width="50" height="50" >{{(movil)? '2017 - Q3' : 'Desarrollo casa de cambio crypto en Argentina:'}}
                          <i class="material-icons iconoAbajo animatEste">
                            keyboard_arrow_down
                          </i>
                        </h1>

                      </div>
                      <div class="contenidoH fuente">
                        <div class="carruh">
                          <div class="itemCarru" *ngFor="let image of imagesHito4">

                            <img [src]="image" width="100%" height="80" (click)="imgHito4Active = image" [class.activate]="imgHito4Active == image">
                          </div>
                        </div>

                            <div class="contentRoad">
                              <h1 id="putito">"</h1>
                              <div class="conteMedium">
                                <img [src]="imgHito4Active" *ngIf="movil" width="100%" >
                                <h2 *ngIf="movil">Desarrollo casa de cambio crypto en Argentina:</h2>
                                <p>
                                  Después de validar el mercado y tener éxito en la primera versión de compra y venta, se despliega durante 11 meses el desarrollo de una nueva plataforma tecnológica pensada en ser multimoneda y escalable a diferentes países, automatizando cada proceso de compra y venta para que pueda ser replicada en cualquier pais.
                                </p>
                              </div>

                              <div class="rayabaja">

                              </div>

                            </div>

                      </div>
                    </div>
              </div>
            </div>
        </div>





        <!-- Hito 5 ################################################################################################################################## -->

            <div class="hito" id="hito5">

                <div class="element" >
                  <div class="elementoInfo">
                    <div class="hitoContent fuente"><p id="hitoC5">2018 - Q2</p></div>
                  </div>
                </div>

                <div class="hitoCard">

                  <div class="imgConteH"  [class.activeimgConteH]="hito5 == true" >
                    <div class="contentHitoImg">
                      <img [src]="imgHito5Active" width="100%" height="100%">
                      <div class="borders" [class.activeBor]="hito5 == true"></div>
                    </div>
                  </div>

                  <div class="cardHito" [ngStyle]="{'height': (hito5) ? '650px' : '120px' }">
                        <div class="contenidoHito">
                          <div class="headerHit" (click)="hito5 = !hito5" [class.activeheaderHit]="hito5 == true">

                            <h1 [class.colorss]="movil"><img [src]="imgHito5Active" *ngIf="movil" width="50" height="50" >{{(movil)? '2018 - Q2' : 'Implementación Sistema de prevención contra lavado de activos'}}
                              <i class="material-icons iconoAbajo animatEste">
                                keyboard_arrow_down
                              </i>
                            </h1>
                          </div>
                          <div class="contenidoH fuente">
                            <div class="carruh">
                              <div class="itemCarru" *ngFor="let image of imagesHito5">

                                <img [src]="image" width="100%" height="80" (click)="imgHito5Active = image" [class.activate]="imgHito5Active == image">
                              </div>
                            </div>

                                <div class="contentRoad">
                                  <h1 id="putito">"</h1>
                                  <div class="conteMedium">
                                    <img [src]="imgHito5Active" *ngIf="movil" width="100%" >
                                    <h2 *ngIf="movil">Implementación Sistema de prevención contra lavado de activos:</h2>
                                    <p>
                                      Única empresa Blockchain en Colombia en tener implementado un “Sistema de prevención contra lavado de activos, Quisimos llevar el cumplimiento y la reglamentación al máximo nivel, combatiendo de forma directa la mayor preocupación que tienen las autoridades en cuanto al comercio de Criptodivisas, por lo que nos convertimos en la primera empresa dentro del país en tener implementado un Sistema de prevención contra lavado de activos “Sarlaft” dentro de sus procesos de verificación previo a compra y venta, garantizando así la mayor diligencia y buenas practicas dentro de sus operaciones.
                                    </p>
                                  </div>

                                  <div class="rayabaja">

                                  </div>

                                </div>

                          </div>
                        </div>
                  </div>
                </div>
            </div>




            <!-- Hito 6 ################################################################################################################################## -->

                <div class="hito" id="hito6">

                    <div class="element" >
                      <div class="elementoInfo">
                        <div class="hitoContent fuente"><p id="hitoC6">2018 - Q4</p></div>
                      </div>
                    </div>

                    <div class="hitoCard">

                      <div class="imgConteH"  [class.activeimgConteH]="hito6 == true" >
                        <div class="contentHitoImg">
                          <img [src]="imgHito6Active" width="100%" height="100%">
                          <div class="borders" [class.activeBor]="hito6 == true"></div>
                        </div>
                      </div>

                      <div class="cardHito" [ngStyle]="{'height': (hito6) ? '650px' : '120px' }">
                            <div class="contenidoHito">
                              <div class="headerHit" (click)="hito6 = !hito6" [class.activeheaderHit]="hito6 == true">


                                <h1 [class.colorss]="movil"><img [src]="imgHito6Active" *ngIf="movil" width="50" height="50" >{{(movil)? '2018 - Q4' : 'Expanción Latinoamérica'}}
                                  <i class="material-icons iconoAbajo animatEste">
                                    keyboard_arrow_down
                                  </i>
                                </h1>

                              </div>
                              <div class="contenidoH fuente">
                                <div class="carruh">
                                  <div class="itemCarru" *ngFor="let image of imagesHito6">

                                    <img [src]="image" width="100%" height="80" (click)="imgHito6Active = image" [class.activate]="imgHito6Active == image">
                                  </div>
                                </div>

                                    <div class="contentRoad">
                                      <h1 id="putito">"</h1>
                                      <div class="conteMedium">

                                        <img [src]="imgHito6Active" *ngIf="movil" width="100%" >
                                        <h2 *ngIf="movil">Expanción Latinoamérica:</h2>
                                        <p>
                                          Perú y Chile serán los nuevos mercados donde se permitirá a los usuarios realizar operaciones de compra y venta de diferentes Criptodivisas con moneda local, una solución pensada para escalar rápidamente en cada país, conectando en su primera fase el mercado local.
                                        </p>
                                      </div>

                                      <div class="rayabaja">

                                      </div>

                                    </div>

                              </div>
                            </div>
                      </div>
                    </div>
                </div>
















                <!-- Hito 7 ################################################################################################################################## -->

                    <div class="hito" id="hito7">

                        <div class="element" >
                          <div class="elementoInfo">
                            <div class="hitoContent fuente"><p id="hitoC7">2018 – Q4</p></div>
                          </div>
                        </div>

                        <div class="hitoCard">

                          <div class="imgConteH"  [class.activeimgConteH]="hito7 == true" >
                            <div class="contentHitoImg">
                              <img [src]="imgHito7Active" width="100%" height="100%">
                              <div class="borders" [class.activeBor]="hito7 == true"></div>
                            </div>
                          </div>

                          <div class="cardHito" [ngStyle]="{'height': (hito7) ? '650px' : '120px' }">
                                <div class="contenidoHito">
                                  <div class="headerHit" (click)="hito7 = !hito7" [class.activeheaderHit]="hito7 == true">
                                    <h1>Apertura de próximos países para Latinoamérica
                                      <i class="material-icons iconoAbajo animatEste">
                                        keyboard_arrow_down
                                      </i>
                                    </h1>

                                  </div>
                                  <div class="contenidoH fuente">
                                    <div class="carruh">
                                      <div class="itemCarru" *ngFor="let image of imagesHito7">

                                        <img [src]="image" width="100%" height="80" (click)="imgHito7Active = image" [class.activate]="imgHito7Active == image">
                                      </div>
                                    </div>

                                        <div class="contentRoad">
                                          <h1 id="putito">"</h1>
                                          <div class="conteMedium">
                                            <p>
                                              Perú y Chile serán los nuevos mercados donde se permitirá a los usuarios realizar operaciones de compra y venta de diferentes Criptodivisas con moneda local, una solución pensada para escalar rápidamente en cada país, conectando en su primera fase el mercado local.
                                            </p>
                                          </div>

                                          <div class="rayabaja">

                                          </div>

                                        </div>

                                  </div>
                                </div>
                          </div>
                        </div>
                    </div>








                    <!-- Hito 8 ################################################################################################################################## -->

                        <div class="hito" id="hito8">

                            <div class="element" >
                              <div class="elementoInfo">
                                <div class="hitoContent fuente"><p id="hitoC8">2018 - Q4</p></div>
                              </div>
                            </div>

                            <div class="hitoCard">

                              <div class="imgConteH"  [class.activeimgConteH]="hito8 == true" >
                                <div class="contentHitoImg">
                                  <img [src]="imgHito8Active" width="100%" height="100%">
                                  <div class="borders" [class.activeBor]="hito8 == true"></div>
                                </div>
                              </div>

                              <div class="cardHito" [ngStyle]="{'height': (hito8) ? '650px' : '120px' }">
                                    <div class="contenidoHito">
                                      <div class="headerHit" (click)="hito8 = !hito8" [class.activeheaderHit]="hito8 == true">

                                        <h1 [class.colorss]="movil"><img [src]="imgHito8Active" *ngIf="movil" width="50" height="50" >{{(movil)? '2018 - Q4' : 'ICO - Colfinex'}}
                                          <i class="material-icons iconoAbajo animatEste">
                                            keyboard_arrow_down
                                          </i>
                                        </h1>

                                      </div>
                                      <div class="contenidoH fuente">
                                        <div class="carruh">
                                          <div class="itemCarru" *ngFor="let image of imagesHito8">

                                            <img [src]="image" width="100%" height="80" (click)="imgHito8Active = image" [class.activate]="imgHito8Active == image">
                                          </div>
                                        </div>

                                            <div class="contentRoad">
                                              <h1 id="putito">"</h1>
                                              <div class="conteMedium">
                                                <img [src]="imgHito8Active" *ngIf="movil" width="100%" >
                                                <h2 *ngIf="movil">ICO - Colfinex</h2>
                                                <p>
                                                  Habiendo obtenido el reconocimiento de los mercados regionales, se lanza una oferta inicial de moneda para el desarrollo de una plataforma de intercambio, “Exchange”, para todo Latinoamérica. Somos conscientes de la necesidad de crear un mercado accesible en la región, con bajos costos y alta usabilidad que pueda convertirse en el mayor mercado de Cryptodivisas de Latinoamérica.
                                                </p>
                                              </div>

                                              <div class="rayabaja">

                                              </div>

                                            </div>

                                      </div>
                                    </div>
                              </div>
                            </div>
                        </div>




                        <!-- Hito 9 ################################################################################################################################## -->

                            <div class="hito" id="hito9">

                                <div class="element" >
                                  <div class="elementoInfo">
                                    <div class="hitoContent fuente"><p id="hitoC9">2019 – Q2 </p></div>
                                  </div>
                                </div>

                                <div class="hitoCard">

                                  <div class="imgConteH"  [class.activeimgConteH]="hito9 == true" >
                                    <div class="contentHitoImg">
                                      <img [src]="imgHito9Active" width="100%" height="100%">
                                      <div class="borders" [class.activeBor]="hito9 == true"></div>
                                    </div>
                                  </div>

                                  <div class="cardHito" [ngStyle]="{'height': (hito9) ? '650px' : '120px' }">
                                        <div class="contenidoHito">
                                          <div class="headerHit" (click)="hito9 = !hito9" [class.activeheaderHit]="hito9 == true">

                                            <h1 [class.colorss]="movil"><img [src]="imgHito9Active" *ngIf="movil" width="50" height="50" >{{(movil)? '2019 – Q2 ' : 'Inicio Proof Of Hodl'}}
                                              <i class="material-icons iconoAbajo animatEste">
                                                keyboard_arrow_down
                                              </i>
                                            </h1>

                                          </div>
                                          <div class="contenidoH fuente">
                                            <div class="carruh">
                                              <div class="itemCarru" *ngFor="let image of imagesHito9">

                                                <img [src]="image" width="100%" height="80" (click)="imgHito9Active = image" [class.activate]="imgHito9Active == image">
                                              </div>
                                            </div>

                                                <div class="contentRoad">
                                                  <h1 id="putito">"</h1>
                                                  <div class="conteMedium">
                                                    <img [src]="imgHito9Active" *ngIf="movil" width="100%" >
                                                    <h2 *ngIf="movil">Inicio Proof Of Hodl</h2>
                                                    <p>
                                                      Proof of Hodl para los inversionistas de etapa ICO como incentivo al adoptar el modelo inicialmente, siendo privilegiados de un sistema recompensa y gamification.
                                                    </p>
                                                  </div>

                                                  <div class="rayabaja">

                                                  </div>

                                                </div>

                                          </div>
                                        </div>
                                  </div>
                                </div>

                            </div>







                            <!-- Hito10 ################################################################################################################################## -->

                                <div class="hito" id="hito10">

                                    <div class="element" >
                                      <div class="elementoInfo">
                                        <div class="hitoContent fuente"><p id="hitoC10">2019 - Q3</p></div>
                                      </div>
                                    </div>

                                    <div class="hitoCard">

                                      <div class="imgConteH"  [class.activeimgConteH]="hito10 == true" >
                                        <div class="contentHitoImg">
                                          <img [src]="imgHito10Active" width="100%" height="100%">
                                          <div class="borders" [class.activeBor]="hito10 == true"></div>
                                        </div>
                                      </div>

                                      <div class="cardHito" [ngStyle]="{'height': (hito10) ? '650px' : '120px' }">
                                            <div class="contenidoHito">
                                              <div class="headerHit" (click)="hito10 = !hito10" [class.activeheaderHit]="hito10 == true">


                                                <h1 [class.colorss]="movil"><img [src]="imgHito10Active" *ngIf="movil" width="50" height="50" >{{(movil)? '2019 - Q3 ' : 'Lanzamiento Exchange'}}
                                                  <i class="material-icons iconoAbajo animatEste">
                                                    keyboard_arrow_down
                                                  </i>
                                                </h1>
                                              </div>
                                              <div class="contenidoH fuente">
                                                <div class="carruh">
                                                  <div class="itemCarru" *ngFor="let image of imagesHito10">

                                                    <img [src]="image" width="100%" height="80" (click)="imgHito10Active = image" [class.activate]="imgHito10Active == image">
                                                  </div>
                                                </div>

                                                    <div class="contentRoad">
                                                      <h1 id="putito">"</h1>
                                                      <div class="conteMedium">
                                                        <img [src]="imgHito10Active" *ngIf="movil" width="100%" >
                                                        <h2 *ngIf="movil">Lanzamiento Exchange</h2>
                                                        <p>
                                                          Una solución pensada para todo Latinoamérica donde los usuarios de los mercados locales que intercambian en moneda Fiat e inversores podrán intercambiar entre diferentes criptodivisas con comisiones inferiores al promedio de mercado, creando un ecosistema accesible para traders y usuarios con servicios VIP y privilegios en función a la cantidad de CFX dentro su cartera.
                                                        </p>
                                                      </div>

                                                      <div class="rayabaja">

                                                      </div>

                                                    </div>

                                              </div>
                                            </div>
                                      </div>
                                    </div>
                                </div>






                                <!-- Hito11 ################################################################################################################################## -->

                                    <div class="hito" id="hito11">

                                        <div class="element" >
                                          <div class="elementoInfo">
                                            <div class="hitoContent fuente"><p id="hitoC11">2019 - Q3</p></div>
                                          </div>
                                        </div>

                                        <div class="hitoCard">

                                          <div class="imgConteH"  [class.activeimgConteH]="hito11 == true" >
                                            <div class="contentHitoImg">
                                              <img [src]="imgHito11Active" width="100%" height="100%">
                                              <div class="borders" [class.activeBor]="hito11 == true"></div>
                                            </div>
                                          </div>

                                          <div class="cardHito" [ngStyle]="{'height': (hito11) ? '650px' : '120px' }">
                                                <div class="contenidoHito">
                                                  <div class="headerHit" (click)="hito11 = !hito11" [class.activeheaderHit]="hito11 == true">

                                                    <h1 [class.colorss]="movil"><img [src]="imgHito11Active" *ngIf="movil" width="50" height="50" >{{(movil)? '2019 - Q3 ' : 'Minería impulsada por trading'}}
                                                      <i class="material-icons iconoAbajo animatEste">
                                                        keyboard_arrow_down
                                                      </i>
                                                    </h1>
                                                  </div>
                                                  <div class="contenidoH fuente">
                                                    <div class="carruh">
                                                      <div class="itemCarru" *ngFor="let image of imagesHito11">

                                                        <img [src]="image" width="100%" height="80" (click)="imgHito11Active = image" [class.activate]="imgHito11Active == image">
                                                      </div>
                                                    </div>

                                                        <div class="contentRoad">
                                                          <h1 id="putito">"</h1>
                                                          <div class="conteMedium">
                                                            <img [src]="imgHito11Active" *ngIf="movil" width="100%" >
                                                            <h2 *ngIf="movil">Minería impulsada por trading</h2>
                                                            <p>
                                                              Una solución pensada para todo Latinoamérica donde los usuarios de los mercados locales que intercambian en moneda Fiat e inversores podrán intercambiar entre diferentes criptodivisas con comisiones inferiores al promedio de mercado, creando un ecosistema accesible para traders y usuarios con servicios VIP y privilegios en función a la cantidad de CFX dentro su cartera.
                                                            </p>
                                                          </div>

                                                          <div class="rayabaja">

                                                          </div>

                                                        </div>

                                                  </div>
                                                </div>
                                          </div>
                                        </div>
                                    </div>







                                    <!-- Hito12 ################################################################################################################################## -->

                                        <div class="hito" id="hito12">

                                            <div class="element" >
                                              <div class="elementoInfo">
                                                <div class="hitoContent fuente"><p id="hitoC12">2019 - Q4</p></div>
                                              </div>
                                            </div>

                                            <div class="hitoCard">

                                              <div class="imgConteH"  [class.activeimgConteH]="hito12 == true" >
                                                <div class="contentHitoImg">
                                                  <img [src]="imgHito12Active" width="100%" height="100%">
                                                  <div class="borders" [class.activeBor]="hito12 == true"></div>
                                                </div>
                                              </div>

                                              <div class="cardHito" [ngStyle]="{'height': (hito12) ? '650px' : '120px' }">
                                                    <div class="contenidoHito">
                                                      <div class="headerHit" (click)="hito12 = !hito12" [class.activeheaderHit]="hito12 == true">


                                                        <h1 [class.colorss]="movil"><img [src]="imgHito12Active" *ngIf="movil" width="50" height="50" >{{(movil)? '2019 - Q4' : 'Lanzamiento aplicación móvil'}}
                                                          <i class="material-icons iconoAbajo animatEste">
                                                            keyboard_arrow_down
                                                          </i>
                                                        </h1>

                                                      </div>
                                                      <div class="contenidoH fuente">
                                                        <div class="carruh">
                                                          <div class="itemCarru" *ngFor="let image of imagesHito12">

                                                            <img [src]="image" width="100%" height="80" (click)="imgHito12Active = image" [class.activate]="imgHito12Active == image">
                                                          </div>
                                                        </div>

                                                            <div class="contentRoad">
                                                              <h1 id="putito">"</h1>
                                                              <div class="conteMedium">
                                                                <img [src]="imgHito12Active" *ngIf="movil" width="100%" >
                                                                <h2 *ngIf="movil">Lanzamiento aplicación móvil</h2>
                                                                <p>
                                                                  Ecosistema de intercambio de fácil usabilidad a través de una aplicación móvil, disponible para las diferentes plataformas donde los usuarios podrán convertir los procesos de intercambio y diferentes operaciones en algo sencillo y fácil de realizar desde una versión ligera.
                                                                </p>
                                                              </div>

                                                              <div class="rayabaja">

                                                              </div>

                                                            </div>

                                                      </div>
                                                    </div>
                                              </div>
                                            </div>
                                        </div>







                                        <!-- Hito13 ################################################################################################################################## -->

                                            <div class="hito" id="hito13">

                                                <div class="element" >
                                                  <div class="elementoInfo">
                                                    <div class="hitoContent fuente"><p id="hitoC13">2025 - Q4</p></div>
                                                  </div>
                                                </div>

                                                <div class="hitoCard">

                                                  <div class="imgConteH"  [class.activeimgConteH]="hito13 == true" >
                                                    <div class="contentHitoImg">
                                                      <img [src]="imgHito13Active" width="100%" height="100%">
                                                      <div class="borders" [class.activeBor]="hito13 == true"></div>
                                                    </div>
                                                  </div>

                                                  <div class="cardHito" [ngStyle]="{'height': (hito13) ? '650px' : '120px' }">
                                                        <div class="contenidoHito">
                                                          <div class="headerHit" (click)="hito13 = !hito13" [class.activeheaderHit]="hito13 == true">

                                                            <h1 [class.colorss]="movil"><img [src]="imgHito13Active" *ngIf="movil" width="50" height="50" >{{(movil)? '2025 - Q4' : 'Plataforma de intercambio descentralizada'}}
                                                              <i class="material-icons iconoAbajo animatEste">
                                                                keyboard_arrow_down
                                                              </i>
                                                            </h1>

                                                          </div>
                                                          <div class="contenidoH fuente">
                                                            <div class="carruh">
                                                              <div class="itemCarru" *ngFor="let image of imagesHito13">

                                                                <img [src]="image" width="100%" height="80" (click)="imgHito13Active = image" [class.activate]="imgHito13Active == image">
                                                              </div>
                                                            </div>

                                                                <div class="contentRoad">
                                                                  <h1 id="putito">"</h1>
                                                                  <div class="conteMedium">
                                                                    <img [src]="imgHito12Active" *ngIf="movil" width="100%" >
                                                                    <h2 *ngIf="movil">Plataforma de intercambio descentralizada</h2>
                                                                    <p>

                                                                    </p>
                                                                  </div>

                                                                  <div class="rayabaja">

                                                                  </div>

                                                                </div>

                                                          </div>
                                                        </div>
                                                  </div>
                                                </div>
                                            </div>










      </div>
    </div>
  </div>

</div>











<!-- contenido cardFix -->



<!-- <div id="contenidoH2" class="fuente tapu c2">
  <p>Contenido Hito 2</p>
</div>

<div id="contenidoH3" class="fuente tapu c2">
  <p>Contenido Hito 3</p>
</div>

<div id="contenidoH4" class="fuente tapu c2">
  <p>Contenido Hito 4</p>
</div>

<div id="contenidoH5" class="fuente tapu c2">
  <p>Contenido Hito 5</p>
</div> -->











<!-- SLIDER -->
<!-- <div class="slidesCont">
  <div class="slide">
    <slideshow #slideshow
             [minHeight]="'450px'"
             [showArrows]="true"
             [imageUrls]="imageUrlArray"
              [lazyLoad]="imageSources?.length > 1"
             [autoPlayWaitForLazyLoad]="true"
             >
   </slideshow>
  </div>
   <div class="slideItems">
     <div class="item"></div>
     <div class="item"></div>
     <div class="item"></div>
   </div>
</div> -->


<!-- <div class="putisima" (click)="putisima()"></div> -->
