
<section class="rey">

  <div class="menu">
    <div class="logo">
      <p class="kanita"><span>COL</span>FINEX <img src="../../assets/img/isotipo.png" width="30"></p>
    </div>
    <div class="user fuente" [matMenuTriggerFor]="menu">
      <i class="material-icons">keyboard_arrow_down</i>
      <p >{{user.name}}</p>
      <img [src]="user.cover" width="30" height="30" id="cover">
    </div>
    <mat-menu #menu="matMenu" yPosition="above"  [overlapTrigger] = "false">
      <button [routerLink]="['/']" mat-menu-item>Cerrar Sessión</button>
    </mat-menu>
  </div>

  <div class="content fuente">

      <div class="welcome" *ngIf="!transaction">
        <p class="wfir"><span>Bienvenido</span> {{user.name}}</p>
        <p class="subs">Este es el panel de administraciòn desde el que podrás hacer la donación de tokens para colfinex.</p>
      </div>



      <div class="panel" *ngIf="step==1">

          <p>Elige la criptomoneda con la que deseas donar:</p>
          <div class="medios">
            <div class="payment"  (mouseover)="active=false" (click)="goto(2, 'Bitcoin')">
              <img  class="currency" src="./assets/img/bitcoinlow.png" width="55%">
              <img  class="currency2" src="./assets/img/bitcoinhigh.png" width="60%">
              <p class="nemeCurrency" >BITCOIN</p>
              <div class="active">
                <div class="contActive">
                  <div class="activateAnim" ></div>
                  <div class="activateAnim2" ></div>
                </div>
              </div>
            </div>

            <div class="payment" [class.paymentdef]="active" (click)="goto(2, 'Ethereum')">
              <img [class.currencydef]="active" class="currency" src="./assets/img/ethereu.png" width="55%">
              <img [class.currency2def]="active" class="currency2" src="./assets/img/ethereuhigh.png" width="60%">

              <p [class.nameCurrencydef]="active" class="nemeCurrency">ETHEREUM</p>
              <div class="active">
                <div class="contActive">
                  <div class="activateAnim" [class.activateAnimdef]="active"></div>
                  <div class="activateAnim2" [class.activateAnim2def]="active"></div>
                </div>
              </div>
            </div>

            <div class="payment" (mouseover)="active=false" (click)="goto(2, 'Litecoin')">
              <img class="currency" src="./assets/img/litecoin.png" width="55%">
              <img class="currency2" src="./assets/img/litecoinhigh.png" width="60%">
              <p class="nemeCurrency">LITECOIN</p>
              <div class="active">
                <div class="contActive">
                  <div class="activateAnim"></div>
                  <div class="activateAnim2"></div>
                </div>
              </div>
            </div>
          </div>
      </div>

      <div class="panel otherPanel" *ngIf="step==2" [class.pad]="transaction">


        <div class="welcome" *ngIf="transaction" [class.welcome2]="transaction">
          <p class="subs" [class.subs2]="transaction"><span>{{user.name}}, </span>   esto es emocionante, pronto podrás disponer de tus tokens..</p>
        </div>

        <div class="countDownCont" *ngIf="transaction">
              <div class="contElement">
                <div class="itemD1 itemD fuente2"><img src="../../assets/img/watch.png" width="50"></div>
                <div class="itemD2 itemD fuente2"><p class="eja">{{(daysTrue)? days : '0'}}</p><p class="datass">Días</p> </div>
                <div class="itemD3 itemD fuente2"><p class="eja">{{fecha.hours}}</p><p class="datass">Horas</p> </div>
                <div class="itemD4 itemD fuente2"><p class="eja">{{fecha.minutes}}</p><p class="datass">Minutos</p> </div>
                <div class="itemD5 itemD fuente2"><p class="eja">{{fecha.seconds}}</p><p class="datass">Segundo</p> </div>
              </div>
        </div>

        <div class="imgs" *ngIf="transaction">
            <div class="contenedorChart">
              <canvas id="myChart2" ></canvas>
              <!-- <div class="element element1 fuente"><p class="cfx">1.000cfx</p><p class="fee">-1% Fee</p></div>
              <div class="element element2 element2Pos1 fuente"><p class="cfx">100.000cfx</p><p class="fee">-100% Fees</p></div>
              <div class="element element3 element3Pos1 fuente"><p class="cfx">40%</p></div>
              <div class="element element4 fuente"><p class="cfx">95%</p></div>
              <div class="element element5 element5Pos1 fuente"><p>Genesis Day 0</p><img src="./assets/img/huellas.png" width="17"></div>
              <div class="element element6 fuente"><p class="cfx">8%</p></div>
              <div class="element element7 fuente"><p class="cfx">2%</p></div>
              <div class="element element8 fuente"><p>Month 6</p><img src="./assets/img/huellas.png" width="17"></div>
              <div class="element element9 fuente"><p>Month 12</p><img src="./assets/img/huellas.png" width="17"></div> -->
            </div>
        </div>

        <div class="contenedorci" *ngIf="transaction">
            <div class="progresoProfit">
              <div class="itemProgreso"><p class="titleItem">{{coinAbrev}}</p><p class="itemRes">{{transaction.amount}}</p></div>
              <div class="itemProgreso"><p class="titleItem estesi">USD <span class="sinmar">Congelado en dolares</span></p><p class="itemRes fuente2">$ {{cmcService.number_format((transaction.amount*coinPrice).toFixed(0))}}</p></div>
              <div class="itemProgreso"><p class="titleItem estesi">BOUNTY <span class="sinmar">Tasa POH obtenida hasta la fecha</span></p><p class="itemRes">4</p></div>
              <div class="itemProgreso"><p class="titleItem estesi">CFX <span class="sinmar">Incluido % Bounty</span></p><p class="itemRes">4</p></div>
            </div>
        </div>






        <div class="volver fuente" (click)="step = 1; active = true" *ngIf="!transaction">
          <div class="volverc">
            <mat-icon>arrow_back</mat-icon> <p class="volv">Volver</p>
          </div>
        </div>

        <p class="epale yep" *ngIf="transaction">{{user.name}}, si deseas adquirir mas CFX, puedes continuar donando a la misma dirección {{coinAbrev}}:</p>

        <p *ngIf="!transaction" class="titleA"><span>Andres</span>, hemos asignado una dirección unica para ti, en este panel podrás hacer un seguimiento completo sobre el progreso de tu donaciòn</p>
        <div class="warning" [class.sitran]="transaction">
          <p class="warningTitle"><i class="material-icons">error_outline</i>¡IMPORTANTE!</p>
          <p class="warningText">Enviar solo {{coinAbrev}} a esta dirección de depósito. El envío de cualquier otra moneda o ficha a esta dirección puede ocasionar la pérdida de su depósito.</p>
        </div>

        <div class="miWallet">

          <p class="epale" *ngIf="!transaction">A esta dirección {{coinAbrev}} debes enviar tu donación:</p>

           <div class="mWallet " [class.mWallet2]="!transaction" [class.mWallet3]="transaction">

             <div class="inpuText" *ngIf="!transaction" id="paba">
               <i class="fab fa-ethereum iconito" *ngIf="coinAbrev == 'ETH'"></i>
               <i class="material-icons ome iconito">keyboard_arrow_down</i>
               <!-- <i class="fab fa-bitcoin"></i> -->
               <i class="fab fa-btc iconito" *ngIf="coinAbrev == 'BTC'"></i>
               <button mat-button [matMenuTriggerFor]="menu" id="menus">{{coinAbrev}}</button>
               <mat-menu #menu="matMenu" [overlapTrigger] = "false">
                 <button mat-menu-item (click)="goto(2, 'Bitcoin')"> <i class="fab fa-btc iconito"></i>   BTC</button>
                 <button mat-menu-item (click)="goto(2, 'Ethereum')"><i class="fab fa-ethereum iconito"></i>  ETH</button>
                 <button mat-menu-item (click)="goto(2, 'Litecoin')">LTC</button>
               </mat-menu>
             </div>

             <div class="inpuText2 inpuText queu" [class.siTrans]="transaction" [class.foo]="!transaction">
               <div class="loaderc" *ngIf="loader"><div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div></div>
               <i class="far fa-clone iconito" id="copiar" (click)="copiar()" *ngIf="!loader" matTooltip="COPIAR"></i>
               <i class="fab fa-connectdevelop"></i>
               <input placeholder="Dirección contrato"  [(ngModel)]="user.account_to_deposit" class="mail fuente estaa" type="text" id="fola" disabled>
             </div>

             <div class=" inpuText "  [class.calcdef]="calcdef" (click)="calcdef = !calcdef" [class.calcs]="!transaction" [class.calc]="transaction">
               <i class="fas fa-calculator calcu" [class.calcdef2]="calcdef" ></i>
             </div>

            </div>

            <div class="desplegable" [class.desplegableON]="calcdef">
                  <div class="conteCalcu">
                      <p>Calcular Inversión</p>
                      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
                      <div class="contCalul">

                        <div class="inpuText2 inpuText caca">
                          <i class="fab fa-connectdevelop iconito"></i>
                          <input matInput placeholder="Cantidad a invertir" class="mail verde fuente2" [(ngModel)]="invertir" name="invertir" type="number">
                          <div class="calulito"><p class="fuente2" *ngIf="!loader2">(${{cmcService.number_format((invertir*coinPrice).toFixed(0))}}) ~ <span class="verde fuente2">{{coinAbrev}}</span></p></div>
                        </div>

                        <i class="material-icons cacs">swap_horiz</i>

                        <div class="inpuText2 inpuText caca">
                          <i class="fab fa-connectdevelop iconito"></i>
                          <input placeholder="Cantidad a recibir" class="mail fuente2 verde" type="text" [value]="cmcService.number_format(invertir*(coinPrice/0.05))" disabled *ngIf="!loader2">
                          <p class="cfxte verde">CFX</p>
                        </div>
                      </div>
                    </form>
                  </div>
            </div>

            <div class="countDownCont" *ngIf="transaction">
                    <div class="ctaDa"  [class.reclaimButton] = "reclaim">
                      <div class="progressBar">
                        <div class="progressBarcontenido" [ngStyle]="{'width.%':avanced.toFixed(0)}" ></div>
                      </div>
                        <p [class.reclaimText] = "reclaim">Reclamar CFX</p>
                    </div>
            </div>

            <p class="epale" *ngIf="!transaction" >Ingresa la dirección ETH donde deseas recibir los tokens:</p>

            <div class="mWallet" *ngIf="!transaction">

              <div class="inpuText2 inpuText naqui">
                <i class="fab fa-connectdevelop iconito"></i>
                <input placeholder="Mi dirección ETH" class="mail fuente" type="text">
              </div>

            </div>






        </div>

      </div>


  </div>


</section>
