h1{
  color: white;
}


.menu{
  width: calc(100% - 80px);
  height: 55px;
  background: white;
  box-shadow: 3px 3px 30px #000000;
  background: linear-gradient(to right, #374756, #000000);
  position: fixed;
  top: 0;
  z-index: 20  ;
  display: grid;
  padding: 0 40px;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
.mail{
  color: #50667A;
  width: calc(100% - 40px);
  height: 100%;
  border-style: none;
  background: transparent;
  padding-left: 40px;
  border: 1px solid transparent;
  outline: none;
  font-size: 16px;
}

.mail:focus{
  color: #30DE80;
  outline: none;
  border: 1px solid red !important;
  border-style: none !important;
}

.mail:focus .iconito{
  color: #30DE80 !important;
}

.inpuText, .inpuText2{
  width: 20%;
  /*width: 100%;*/
  height: 60px;
  border: 1px solid #50667A;
  border-radius: 6px;
  overflow: hidden;
  display: grid;
  position: relative;
  margin-left: 15px;
}

.calc{
  width: 75px !important;
  margin-left: 15px;
  position: relative;
  display: grid;
  align-items: center;
  justify-items: center;
}

.calcdef{
    border: 1px solid #30DE80 !important;
}

.calcdef2{
  color: #30DE80 !important;
}

#menus{
  color:#30DE80;
}

.calc:hover{
  border: 1px solid #30DE80 !important;
}

.calc:hover .calcu{
  color:#30DE80 !important;
}

.calc i{
  padding: 0 !important;
  font-size: 25px;
}

.calc{
  cursor: pointer;
}

.inpuText2{
  width: 70% !important;
}


.ome{
  position: absolute;
  align-self: center;
  justify-self:end;
  margin-right: 15px;
}

.inpuText{
  grid-template-rows: 1fr;
    margin-left: 15px;
}

.naqui{
  width: 100% !important;
}


.inpuText:hover .iconito{
  color: #30DE80;
}

.calulito{
  position: absolute;
  height: 100%;
  width: 40%;
  right: 0 !important;
  display: grid;
  align-items: center;
  justify-items:end;
  padding-right: 25px;
}

.calulito p{
  margin: 0 !important;
}

.inpuText i{
  position: absolute;
  color: #50667A;
  align-self: center;
  padding-left: 10px;
}

.desplegable{
  width: calc(100% - 80px);
  height: 200px;
  margin: 0 40px;
  margin-top: 40px;
  margin-bottom: 30px;
  background: #0000003b;
  overflow: hidden;
  transition: .3s;
  height: 0;
}
.loaderc{
  width: 100%;
  height: 100%;
  background: #000000a6;
  position: absolute;
  z-index: 2;
  display: grid;
  align-items: center;
  justify-items: center;
}

.caca{
  margin: 0 !important;
  width: 100% !important;
}

.queu{
  cursor: pointer !important;
}

#copiar{
  padding-right: 10px;
right: 10px;
cursor: pointer;
}

.verde{
 color: #30DE80 !important;
}

.cfxte{
  height: 100%;
  position: absolute;
  right: 0 !important;
  width: 25%;
  margin: 0 !important;
  display: grid;
  align-items: center;
  justify-items:end;
  padding-right: 25px;
}

.cacs{
  color: #30DE80 !important;
  font-size: 35px !important;
}

.conteCalcu{
  width: 100%;
  height: 190px;
  display: grid;
  grid-template-rows: 70px 1fr;
}

.desplegableON{
  height: 200px !important;
}

.contCalul{
  display: grid;
    grid-template-columns: 45% 10% 45%;
    align-items: center;
    justify-items: center;
    padding: 0 25px;
}

.user i{
  color: white;
}

.logo img{
 margin-left: 6px;
}

.logo p{
  margin: 0 !important;
  font-size: 26px !important;
  color: white;
  display: flex;
  align-items: center;
}

#cover{
  border-radius: 50%;
  margin-left: 5px;
  background: yellow;
  border: 1px solid #2DD682;
}

.user p{
  margin: 0 !important;
}

.logo span{
  color: #00ACE9 !important;

}


.user{
  color: white;
  display: flex;
  justify-self: end;
  align-items: center;
  cursor: pointer;
}

.welcome{
  padding-top: 90px;
  text-align: center;
  color: white;
}

.welcome2{
  padding-top: 0 !important;
  /*display: flex;*/
}

.wfir{
  font-size: 55px;
  margin: 0;
}

.panel{
  width: calc(100% - 200px);
  padding: 40px 0;
  /*min-height: calc(100% - 50px);*/
  border: 2px solid black;
  border-radius: 6px;
  margin: 25px 100px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 30% 1fr;
  justify-items: center;
}

.otherPanel{
  /*grid-template-rows: 150px 150px 200px ;*/
  padding-bottom: 30px;
  /*height: 800px;*/
  position: relative;
  /*display: grid;*/
}



.volv{
  margin: 0 !important;
  transition: .3s;
}

.subs2{
  width: 100% !important;
  margin-bottom: 20px;
}

.subs span{
  font-size: 30px;
  margin-right: 7px;
}

.pad{
  padding-top: 50px !important;
  margin-top: 100px;
}

.siTrans{
  width: 100% !important;
}

.volverc{
  width: 100%;
  display: flex;
  color: white;
  transition: .3s;
}

.volver:hover .volverc{
  color: #30DE80 !important;
}

.volver:hover .volv{
  color: #30DE80 !important;
}

.volverc p{
  margin-left: 6px !important;
}

.volver{
  cursor: pointer;
  width: 100px;
  height: 50px;
  position: absolute;
  top: -55px;
  left: 0;
  display: grid;
  align-items: center;
  justify-items:center;
  grid-template-columns: 1fr;
}

.wfir span, .subs span{
  color: #00ACE9 !important;
    font-weight: bold;
}

.warning, .desplegable{
  border-radius: 6px !important;
}

.warningTitle{
  text-align: left !important;
  color:#FF7F00 !important;
  display: flex;
  align-items: center;
}


.warningTitle i{
  margin-right: 6px;
}

.warningText{
  text-align: left !important;
  color: #5B758E !important;
}

.content{
  width: 80%;
  background: linear-gradient(to bottom right, #32404d, #0b0f12);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 30% 1fr;
  padding-bottom: 35px;
}

.miWallet{
  width: 100%;
  /*height: 200px;*/
}

.mWallet{
  padding: 0 40px;
  display: flex;
}

.contenedorci{
  width: 100%;
  height: auto;
  display: grid;
      justify-items: center;
}

.medios{
  width: 90%;
  display: grid;
  height: 100%;
  display: grid;
  align-items: start;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.epale{
  margin: 35px 0 !important;
  padding: 0 40px;
  text-align: left !important;
}

.progresoProfit{
  width: calc(100% - 160px);
  margin: 20px 45px;
  width: calc(90% - 160px);
  padding: 0 35px 10px 35px;
  height: auto;
  border: 2px solid black;
  border-radius: 6px;
  display: grid;
  justify-items: center;
}


.titleItem, .itemRes{
  color:#30DE80 !important;
  /*align-self: end !important;*/
  padding-bottom: 6px !important;
}
.titleItem{
  justify-self:start !important;
  padding-left: 12px !important;
}

.itemRes{
  justify-self: end !important;
  padding-right: 12px !important;
}

.itemProgreso:last-child{
  border: none !important
}

.itemProgreso{
  height: 60px;
  width: 98%;
  margin-top: 15px;
  border-bottom: 2px solid black;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
}

.itemProgreso p{
  margin: 0 !important;
}

.countDownCont{
  width: 100%;
  display: grid;
  align-items: center;
  justify-items:center;
  height: 150px;
}

.itemD{
  display: grid;
  align-items: center;
  justify-items:center;
  grid-gap: 5px;
}

.ctaDa{
  width: 230px;
  border-radius: 6px;
  height: 75px;
  background-color: #12171B;
  overflow: hidden;
  display: grid;
  cursor: pointer;
  position:relative;
}
.progressBarcontenido{
  background: linear-gradient(to right, #00D2FF , #3A7BD5);
  height: 100%;
  width: 20%;
}

.reclaimButton{
  background: linear-gradient(to right, #00D2FF , #3A7BD5);
}


.reclaimText{
  color: black !important;
  opacity: 1 !important;
  font-weight: bold;
}

.progressBar{
  position: absolute;
  bottom: 0 !important;
  width: 100%;
  height: 100%;
  height: 3px;
  overflow: hidden;
  background: black;
}

.ctaDa p {
  align-self: center !important;
  justify-self:center !important;
  margin: 0 !important;
  font-size: 18px;
  opacity: 0.4;
}
.itemD p{
  margin: 0 !important;
  font-size: 35px;
  color: #30DE80 !important;
}

.itemD2, .itemD3, .itemD4, .itemD5{
  grid-template-rows: 60% 1fr;
}

.datass{
  font-size:14px !important;
  align-self: start !important;
}

.eja{
  align-self: end !important;
}

.contElement{
  width: 420px;
  height: 100px;
  border-radius: 6px;
  background: red;
  background: linear-gradient(to right, #1F2730, #020303);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /*grid-row-gap: 10px !important;*/
  grid-gap: 10px;
}


.estesi{
  display: flex;
  flex-direction: column;
  align-items: end;
}


.sinmar{
  margin: 0 !important;
  font-size: 12px;
color: gray;
}

.contenedorChart{
  justify-items:center;
  position: relative;
  width: 85% !important;
  height: 100%;
  display: -ms-grid;
  display: grid;
  background: linear-gradient(to bottom, #10141896, #1014181f);
}

.element5 p, .element8 p, .element9 p{
  font-size: 12px;
  color: white !important;
}

.imgs{
  width: 100%;
  height: 350px;
  /*background: red;*/
  position: relative;
  display: -ms-grid;
  display: grid;
  align-items: start;
  justify-items: center;
  margin-bottom: 30px;
}

#myChart2{
  /*top: 120px;*/
  position: absolute;
  width: 75% !important;
  height: 100% !important;
  justify-self:center;
  align-self: center;
  /*background: red !important*/
}

.yep{
  width: 90% !important;
}

.sitran{
  margin-bottom: 22px;
}


.pales{
  margin-top: 50px;

}

.active{
  position: absolute;
  width: 30px;
  height: 30px;
  margin-right: 15px;
  justify-self:end;
  align-self: center;
}

.contActive{
  width: 100%;
  height: 100%;
  position: relative;
  display: grid;
}

.payment:hover .activateAnim{
  opacity: 0.3;
}

.payment:hover .activateAnim2{
  background: linear-gradient(to bottom, #139D8D, #36EB7E);
}

.activateAnim2def{
  background: linear-gradient(to bottom, #139D8D, #36EB7E) !important;
}

.activateAnimdef{
  opacity: 0.3 !important;
}


.activateAnim{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background:#30DC81;
  opacity: 0;
  transition: .2s;
}

.activateAnim2{
  width: 35%;
  transition: .2s;
  height: 35%;
  border-radius: 50%;
  background: linear-gradient(to bottom, transparent, transparent);
  position: absolute;
  justify-self: center;
align-self: center;
}

.payment{
  display: grid;
  width: 200px;
  height: 200px;
  border-radius: 6px;
  cursor: pointer;
  background: linear-gradient(to bottom left, transparent, transparent);
  border: 2px solid black;
  box-shadow: 0px 0px 0px #000000;
  transition: .2s;
  padding: 15px;
  position: relative;
}

.subs{
  font-size: 17px;
   width: 100%;
}

.nemeCurrency{
  position:absolute;
  justify-self:center;
  align-self: end !important;
  font-weight: bold;
  color: black !important;
  transition: .2s;
}

.payment:hover .nemeCurrency{
  color: #2DD682 !important;
}

.nameCurrencydef{
  color: #2DD682 !important;
}

.currency, .currency2{
  align-self: center;
  justify-self: center;
  position: absolute;
  margin-bottom: 25px;
}

.currency2{
  opacity: 0;
}

.payment:hover .currency2{
  opacity: 1;
}

.payment:hover .currency{
  opacity: 0;
}

.currencydef{
  opacity: 0 !important;
}

.currency2def{
  opacity: 1 !important;
}


.payment:hover{
  background: linear-gradient(to bottom left, #2A3641, #171E24);
  border: 2px solid #374755;
  /*border: 2px solid black;*/
  box-shadow: 3px 3px 30px #000000;
}

.paymentdef{
  background: linear-gradient(to bottom left, #2A3641, #171E24) !important;
  border: 2px solid #374755 !important;
  /*border: 2px solid black;*/
  box-shadow: 3px 3px 30px #000000 !important;
}

.panel p{
  text-align: center;
  color: white;
  align-self: center;
}

.titleA span{
  font-weight: bold;
}

.titleA{
  padding: 0 40px;
  text-align: left;
}

.warning{
  width: 90%;
  height: 120px;
  background: #0000003b;
  padding: 0 15px;
}


.rey{
  display: grid;
  justify-items: center;
  width: 100%;
  min-height: 100vh;
  background: radial-gradient(circle, #374756, #000000);
}





@media screen and (max-width: 800px) and (max-height: 900px){





.contenedorChart{
  width: 100% !important;
}


.contElement{
    width: 100%;
    display: grid;
    grid-gap: 0 !important;
}


.mWallet3{
  display: flex !important;
}

.mWallet3 div{
  margin: 0 !important;
}

.mWallet3 .siTrans{
  margin-right: 5px !important;
  width: 90% !important;
}

.progresoProfit{
  margin: 0 !important;
  margin: 0 12px !important;
  width: calc(100% - 74px);
  padding: 0 20px 10px 20px;
}

.eja{
  font-size: 30px !important;
}

#myChart2{
  width: 95% !important;
}


.naqui{
  margin:  0 !important;
}

#fola{
  display: block;
  margin-left: 2px;
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


.calulito{
  padding-right: 0 !important;
}

.calulito p {
  width: 100px !important;
  display: flex !important;
}

.mWallet{
  padding: 0 !important;
}

.contCalul{
  padding: 0 10px !important;
}

  .desplegableON {
      height: 270px !important;
  }


.contCalul{
  grid-template-columns: 1fr;
}


.desplegable{
      width: 100%;
      margin-left: 0 !important;
      margin-right: 0 !important;
}

  .subs{
    text-align: left;
    padding: 0 10px 0 20px !important;
    width: calc(100% - 30px) !important;
  }


  .titleA{
    text-align: left !important;
   }


  .miWallet{
    width: calc(100% - 20px);
    padding: 0 10px;
  }


  .warning{
    padding: 0 !important;
    height: 150px;
    margin-top: 30px;
  }

.wfir{
  font-size: 25px;
  margin: 0;
}

.medios{
    grid-template-columns: 1fr;
    grid-gap: 20px !important;
}

.content {
  width: 100%;
}

.panel {
    width: calc(100% - 40px);
    grid-template-columns: 1fr;
    padding: 15px 0 !important;
    margin: 45px 20px 25px 20px !important;
}

.mWallet2{
  padding: 0 !important;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 75% 25%;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "selectC calc"
                       "mwall mwall"
}

#paba{
  grid-area: selectC !important;
  width: auto !important;
  margin: 0 !important;
}

.calcs{
  width: auto !important;
  grid-area: calc !important;
  margin: 0 !important;
  display: grid;
  justify-items:center;
}
.calcs i{
  padding: 0 !important;
}

.calc{
  width: 20% !important;
}

.foo{
  width: auto !important;
  grid-area: mwall !important;
  margin: 0 !important;
}

.panel p{
  font-size: 15px;
  padding: 0 10px;
}

.menu{
  width: calc(100% - 20px);
  padding: 0 10px;
}

.subs{
  width: calc(100% - 20px);
  font-size: 15px;
}





}
