/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body{
  margin: 0 !important;
  overflow-x: hidden;
}

.newFont{
  font-family: 'Kanit', sans-serif;
}

.finex{
   color: white !important;
}

.titulo h1{
  font-weight: 500;
  display: flex;
  align-items: center;
}

::placeholder { color: gray !important}

.museoFont{
  font-family: MuseoSans-300;
    font-size: 50px;
    font-weight: 400;
    line-height: 60px;
    margin-top: 0;
}

html{
  margin: 0 !important;
  background: #000103;
}

.consola{
  font-family: 'Inconsolata', monospace;
}

.fuente{
  font-family: 'Raleway', sans-serif;
}

.kanita{
  font-family: 'Kanit', sans-serif !important;
  font-size: 40px !important;
}

.negrita{
  font-weight: bold;
}

.titulo h1{
  font-size: 70px !important;
}

h1{
  font-family: 'Kanit', sans-serif !important;
  font-weight: 100 !important;
    font-size: 45px !important;
}

h2{
  color: #40f29b !important;
}

.fuente2{
  font-family: 'Noto Sans', sans-serif;
}

.blue-snackbar{
 background: #101418 !important;
 color: white !important;
}


html::-webkit-scrollbar {
  width: 10px;
}
html::-webkit-scrollbar-thumb {
  background: #011424;
}

.scrolleable::-webkit-scrollbar {
  width: 4px;
  background: black
}
.scrolleable::-webkit-scrollbar-thumb {
  background: #011424;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #30DE80;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}



.rotaloCabron{
  animation-name: rotalo;
  animation-iteration-count: infinite; 	/* 'infinite' numero de veces que quiero que se repita mi animación */
  animation-timing-function: cubic-bezier(1,1,1,1);
}


@keyframes rotalo{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

@keyframes iluminalo{
  0%{
    opacity: 0.8;
  }
  50%{
    opacity: 0.4;
  }
  100%{
    opacity: 0.8;
  }
}
