<div class="members">

  <div class="contMember">
      <div class="member">
        <!-- <img id="member" src="./assets/member.jpg" width="100%"> -->
      </div>
      <div class="infoMember fuente">
        <p class="nameMember">Ezequiel Lafferriere</p>
        <p class="textMember2">CTO - Co Founder</p>
        <p class="textMember">Este es un resumen de la historia profesional de este de este miembro del team dev.</p>
      </div>
  </div>

  <div class="contMember">
      <div class="member">
        <!-- <img id="member" src="./assets/member.jpg" width="100%"> -->
      </div>
      <div class="infoMember fuente">
        <p class="nameMember">Erick Ospina</p>
        <p class="textMember2">CEO - Co Founder</p>
        <p class="textMember">Este es un resumen de la historia profesional de este de este miembro del team dev.</p>
      </div>
  </div>

  <div class="contMember">
      <div class="member">
        <!-- <img id="member" src="./assets/member.jpg" width="100%"> -->
      </div>
      <div class="infoMember fuente">
        <p class="nameMember">Yonathan Gutiérrez</p>
        <p class="textMember2">COO</p>
        <p class="textMember">Este es un resumen de la historia profesional de este de este miembro del team dev.</p>
      </div>
  </div>
  <div class="contMember">
      <div class="member">
        <!-- <img id="member" src="./assets/member.jpg" width="100%"> -->
      </div>
      <div class="infoMember fuente">
        <p class="nameMember">Andres guevara</p>
        <p class="textMember2">Product Designer & Dev</p>
        <p class="textMember">Este es un resumen de la historia profesional de este de este miembro del team dev.</p>
      </div>
  </div>




  <div class="contMember">
      <div class="member">
        <!-- <img id="member" src="./assets/member.jpg" width="100%"> -->
      </div>
      <div class="infoMember fuente">
        <p class="nameMember">Leonardo Sanchez</p>
        <p class="textMember2">Legal Consultan</p>
        <p class="textMember">Este es un resumen de la historia profesional de este de este miembro del team dev.</p>
      </div>
  </div>

  <div class="contMember">
      <div class="member">
        <!-- <img id="member" src="./assets/member.jpg" width="100%"> -->
      </div>
      <div class="infoMember fuente">
        <p class="nameMember">Joaquín Araujo</p>
        <p class="textMember2">Backend Developer</p>
        <p class="textMember">Este es un resumen de la historia profesional de este de este miembro del team dev.</p>
      </div>
  </div>

  <div class="contMember">
      <div class="member">
        <!-- <img id="member" src="./assets/member.jpg" width="100%"> -->
      </div>
      <div class="infoMember fuente">
        <p class="nameMember">Andres guevara</p>
        <p class="textMember2">Product Designer & Dev</p>
        <p class="textMember">Este es un resumen de la historia profesional de este de este miembro del team dev.</p>
      </div>
  </div>
  <div class="contMember">
      <div class="member">
        <!-- <img id="member" src="./assets/member.jpg" width="100%"> -->
      </div>
      <div class="infoMember fuente">
        <p class="nameMember">Andres guevara</p>
        <p class="textMember2">Product Designer & Dev</p>
        <p class="textMember">Este es un resumen de la historia profesional de este de este miembro del team dev.</p>
      </div>
  </div>
</div>










<div class="members">

  <div class="contMember">
      <div class="member">
        <!-- <img id="member" src="./assets/member.jpg" width="100%"> -->
      </div>
      <div class="infoMember fuente">
        <p class="nameMember">Ezequiel Lafferriere</p>
        <p class="textMember2">CTO - Co Founder</p>
        <p class="textMember">Este es un resumen de la historia profesional de este de este miembro del team dev.</p>
      </div>
  </div>


</div>
