.member{
  width: 250px;
  /* border-radius: 3%; */
  position: relative;
  display: -ms-grid;
  display: grid;
  align-items: end;
  justify-items: center;
  cursor: pointer;
  align-items: center;
  transition: .1s;
  overflow: hidden;
  position: relative;
  z-index: 3;
}

.description{
  color: #40f29b;
}

.contMember{
  display: grid;
  justify-self: center;
      width: 250px;
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      -ms-grid-rows: 50% 1fr 1fr;
      grid-template-rows: 55% 1fr;
      justify-items: center;
          height: 400px;
      transition: .3s;
      border: 2px solid black;
      overflow: hidden;
      border-radius: 7px;
}


.contMember:hover{
  border: 2px solid #0198ff;
}
.nameMember{
  font-weight: bold;
  font-size: 22px;
}

.textMember{
  color: #ffffff5e !important;
  padding: 0 10px !important;
  font-size: 14px;
}
.textMember2{
  color: white !important;
}

.infoMember p{
  text-align: center;
}

.infoMember{
  color: #0198ff;
  margin: 0;
  background: radial-gradient(#2b2b2b, #212121, #000000);
}



#member{
  opacity: 1 !important;
  position: relative;
  z-index:-2;
  position: absolute;
  top: 0;
}

.member:hover img{
  transition: 1s;
  opacity: 1;
}

.member:hover .icono{
    bottom: 78px !important;
}


#iconito{
  opacity: 1 !important;
  z-index: 2;
}


.member img{
  opacity: 0;
}


/*.memberAnim{
  animation-name: member;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;

  animation-timing-function: ease-in;
}*/

@keyframes member{
  0%{
    opacity: 1
  }
  100%{
    opacity: 1
  }
}


.members{
  padding: 30px 70px;
  display: grid;
  height: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
      grid-row-gap: 10px;
}


.icono{
  width: 40px;
height: 40px;
position: absolute;
transition: .3s;
bottom: -12px;
display: grid;
align-items: center;
justify-items:center;
/*border: 1px solid red;*/
}
