

<div class="contFicha">


  <div class="sombrita"></div>
  <div class="conteFicha">
    <img class="fond" src="./assets/blockc.png">

    <div class="contImgBlock">
      <div class="contOnda">
        <div class="otro">
          <div class="onda ondas"></div>

        </div>
      </div>
      <div class="contNimg">
        <!-- <div class="contOnda">
          <div class="onda ondas">
          </div>
        </div> -->
        <img class="logo" src="./assets/logomien.png">
        <p class="hablame fuente"><i class="material-icons">lock</i> El supply inicial se irá desbloqueando a un ritmo del 12.5% mensual.</p>
      </div>
    </div>


    <div class="ficha fuente">
      <div class="conIco">
        <i class="material-icons anim">keyboard_arrow_down</i>
      </div>

      <p class="titulo alav ">Ficha <strong>Tecnica</strong></p>
      <div class="scrolleable">
        <div class="fichaCont">
          <div class="cont"><p><strong>Simbolo:</strong> CFX</p></div>
          <div class="cont"><p><strong>SoftCap:</strong> 5'000.000</p></div>
          <div class="cont"><p><strong>HardCap:</strong>10'000.000</p></div>
          <div class="cont"><p><strong>Initial Value:</strong> 0.05 usd</p></div>
          <div class="cont"><p><strong>Total supply:</strong>  900'000.000 CFX</p></div>
          <div class="cont"><p><strong>Initial supply:</strong>200'000.000 CFX</p></div>
          <div class="cont"><p><strong>lockup supply:</strong>700'000.000 CFX</p></div>
          <div class="cont"><p><strong>Minimal adquisition:</strong>  100.000 CFX</p></div>
          <div class="cont"><p><strong>Pre-sale (private)</strong> 100'000.000 CFX</p></div>
          <div class="cont"><p><strong>Crowdsale: </strong> 100'000.000 CFX</p></div>
          <div class="cont"><p><strong>Minimal purchase:</strong>  1.000 CFX</p></div>
          <div class="cont"><p><strong>Token type:</strong>  ERC-20</p></div>
          <div class="cont"><p><strong>1 ETH:</strong> CFX</p></div>
          <!-- <div class="cont"><p><strong>Simbolo:&ensp;</strong> CFX</p></div> -->
        </div>
      </div>

    </div>
  </div>
</div>
<!-- <div class="titleFicha">
  <div class="fuente">
    <p class="titulo alav">Ficha <strong>Tecnica</strong></p>
  </div>
</div> -->
