.contFicha{
  margin-top: 100px;
  width: 100%;
  height: 100%;
  position: relative;
  background: radial-gradient(#00192a, #000e17, #040507);
  /*-webkit-clip-path: polygon(0 0, 100% 19%, 91% 97%, 0 83%);*/
/*clip-path: polygon(0 0, 100% 19%, 91% 97%, 0 83%);*/
-webkit-clip-path: polygon(0 0, 100% 19%, 94% 97%, 0 83%);
clip-path: polygon(0 0, 100% 19%, 94% 97%, 0 83%);
}


.titleFicha{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  width: 100%;
  height: 200px;
  box-shadow: 3px 3px 50px #000000;
  align-items: center;
  justify-items:center;
}

.conteFicha{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: absolute;
  top: -40px;
  width: 100%;
  height: inherit;
  /*background: linear-gradient(to bottom left, #002040, #000103);*/
      background: linear-gradient(to bottom left, #152b40, #000103);
  position: absolute;
}

.ficha{
  display: grid;
  overflow: hidden;
  grid-template-rows: 15% 1fr;
  position: relative;
  padding-bottom: 60px;
  padding: 250px 0 100px 0;
}

.ficha p{
  color: #00ccac !important;
}

.conIco{
  position: absolute;
  color: white;
  z-index: 40;
  bottom: 100px;
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 30px;
  justify-items: center;
}

.ficha i{
  position: absolute;
  color: #3FF29A;
  z-index: 4;
  font-size: 50px;
}

.anim{
  animation-name: bells;
  animation-duration: 1s; /* Duración total de la animación */
  animation-iteration-count: infinite;
  animation-direction: alternate;/* La animación se ejecuta de 0% a 100% y de 100% a 0%*/


  animation-timing-function: ease-in-out;

}

@keyframes bells{
  0%{
    transform: translateY(0px);
  }
  100%{
    transform: translateY(10px);
  }
}

.scrolleable{
  overflow-y: scroll;
  padding-bottom: 200px;
}

.cont{
  margin: 0 20px;
  background: black;
  color:green;
  width: 70%;
  border-radius: 6px;
  display: grid;
}

.cont p{
  margin: 0;
  padding: 0 20px;
  display: flex;
  align-items: center;
  color: #40f29b;
}

.fichaCont{
  display: -ms-grid;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(14, 60px);
    height: 120vh;
    grid-row-gap: 12px;
}

.titulo{
  color: #40f29b;
      text-align: center;
      margin-top: 0;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
}

.alav{
  font-size: 30px;
}

.hablame i{
  margin-right: 12px;
}

.doss{
  animation-delay: .4s;

}

.ondas{
  animation-name: logo;
  animation-duration: 1s; /* Duración total de la animación */
  /*animation-delay: 1s; 	/* Tiempo que transcurrido para que la animación inicie */
  animation-iteration-count: infinite; 	/* 'infinite' numero de veces que quiero que se repita mi animación */
  /*animation-direction: reverse;/* La animación se ejecuta de 1000% a 0% */
  /*animation-direction: alternate;/* La animación se ejecuta de 0% a 100% y de 100% a 0%*/
  /*animation-fill-mode: forwards;/* la animación se queda en como termina la animación, es decir en el 100%*/


  /* CAMBIAR EL SUAVIZADO DE MI ANIMACIÓN*/
  /*animation-timing-function: ease;
  animation-timing-function: ease-in;
  animation-timing-function: ease-out;
  animation-timing-function: ease-in-out;
  animation-timing-function: linear;
  animation-timing-function: cubic-bezier(1,1,1,1);*/

  /*sitio para calcular curva de bezier http://cubic-bezier.com/#.17,.67,.83,.67*/
}

@keyframes logo{
  0%{
    transform: scale(1,1);
    opacity: 0;
  }
  10%{
    opacity: 0.2;
  }
  100%{
    transform: scale(20,20);
    opacity: 0;
  }
}


.hablame{
  color: #40f29b;
    text-align: center;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;

}

.logo{
  /*position: absolute;*/
width: 250px;
z-index: 1;
justify-self: center;
}
.fond{
  opacity: 0.35;
  opacity: 0.15;
  position: absolute;
  z-index: 0;
  margin-top: 100px;
  align-self: center;
justify-self: center;
}

.onda{
    border-radius: 50%;
    border: 1px solid white;
    width: 40px;
    height: 40px;
    transform-origin: center;
    transition: .3s;
}

.cont strong{
  margin-right: 10px;
}

.otro{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  /*background-image: url("../../assets/img/colom.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;*/
        /*background-attachment: fixed;*/
}

.contOnda{
  display: grid;
  position: absolute;
  border-radius: 50%;
  justify-self: center;
  align-self: center;
}

.contNimg{
  display: grid;
  position: relative;
}

.contImgBlock{
  height: 100%;
  justify-items:center;
  display: grid;
  align-items: center;
  position: relative;
}

.sombrita{
  width: 100%;
  position: absolute;
  bottom: 30px;
  height: 45vh;
  z-index: 2;
  height: 25vh;
  /*background: black;*/
  background: linear-gradient(to bottom, transparent, black);
}




@media screen and (max-width: 600px) and (max-height: 900px){

  .scrolleable{
    padding-bottom: 100px;
    height: 50vh;
  }

    .contImgBlock{
      display: none;
    }

    .fond{
      display: none;
    }

    .conteFicha{
      grid-template-columns: 1fr !important;
      height: 100vh;
    }

    .ficha{
      padding: 90px 0 100px 0;
    }

    .cont{
      width: 90% !important;
    }

    .contFicha{
      margin-top: 0 !important;
      clip-path: polygon(0 0, 100% 5%, 94% 97%, 0 83%);
    }




}
