
<div data-relative-input="true"  id="scene">
  <div class="fondodeg"></div>
  <div class="fondodeg2"></div>
  <div class="fondo"></div>

      <!-- <div class="sky"> -->
      <!-- </div> -->
      <img src="./assets/img/lucero2.png" width="300" class="lucero luceroCabron">
      <img src="./assets/img/lucero.png" width="300" class="lucero2 luceroCabron">

      <img class="sky" src="./assets/sky.png" alt="">

      <div class="img" data-depth="0.1">
        <img  src="./assets/fondo.jpg" width="100%" height="100%">
      </div>

      <div data-depth="0.2" class="globos" >
        <div class="contGlobos">
          <img data-depth="1" src="./assets/globin3.png" width="20" class="globo2 globo4 animatecabron">
        </div>
      </div>

      <div data-depth="0.2" class="globos" >
        <div class="contGlobos">
          <img data-depth="1" src="./assets/globin4.png" width="40" class="globo2 globo5 animatecabron">
        </div>
      </div>

      <div data-depth="0.2" class="globos" >
        <div class="contGlobos">
          <img data-depth="1" src="./assets/globin2.png" width="10" class="globo2 globo6 animatecabron">
        </div>
      </div>

      <div data-depth="0.2" class="globos">
        <div class="contGlobos">
          <img data-depth="1" src="./assets/globin5.png" width="20" class="globo2 globo7 animatecabron">
        </div>
      </div>


      <div data-depth="0.2" class="globos">
        <div class="contGlobos">
          <img data-depth="1" src="./assets/globin3.png" width="35" class="globo2 globot animatecabron">
        </div>
      </div>

      <div data-depth="0.2" class="globos">
        <div class="contGlobos">
          <img data-depth="1" src="./assets/globin2.png" width="55" class="globo2 globo3 animatecabron">
        </div>
      </div>


      <div data-depth="0.3" class="globos">
        <div class="contGlobos">
          <img data-depth="0.3" src="./assets/globin.png" width="100" class="globo1 animatecabron">
        </div>
      </div>

    <div data-depth="0.7" class="contenedor">
      <div class="contImg">
        <img  src="./assets/recorte.png" width="75%" height="100%">
      </div>
    </div>

      <!-- <div data-depth="0.4">My second Layer!</div> -->
      <!-- <div data-depth="0.7">My tercert Layer!</div> -->
      <!-- </div> -->

</div>
