.header{
  width: 100vw;
  height: 100vh;
  /*background: red;*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor{
  position: absolute !important;
  right: 0 !important;
  width: 100%;
  height: 100vh;
  z-index: 2 !important;
}

.contImg{
  position: relative;
  width: 100%;
  height: 100%;
}

.globos{
  width: calc(100% - 200px);
  height: calc(100% - 200px);
  padding: 100px;
  position: absolute;
  z-index: 1 !important;
}

.contGlobos{
  position: relative;
  /*display: flex;*/
  /*justify-content: space-around;*/


}

.contenedor img{
  position: absolute;
  right: 0 !important;
}

.contGlobos img{
  position: absolute;
}

.globo1{
  left: 70%;
  filter: blur(0.8px);
  z-index: 3;
  top: 20px !important;
  animation-name: bell;
  animation-delay: 4s;
}
.globot{
  top: 130px;
  left: 85% !important;
  filter: blur(1.5px) !important;
}

.globo2{
  left: 75%;
  filter: blur(1px);
  z-index: 2;
  animation-delay: 2s;
}

.sky{
  width: 100%;
  position: absolute;
  /*background: red;*/
  z-index: 1;
}

.lucero{
  animation-delay: 3s;
  transform: translateX(-500px) !important;
}

.lucero, .lucero2{
  position: absolute;
  z-index: 5;
  /*top: 155px !important;*/
  top: 20px;
  transition: .3s;
  left: -100%;
}

.lucero2{
  top: 210px !important;
    animation-direction: reverse !important;
}

.globo4{
  left: 45% !important;
  top: 200px !important;
}

.globo5{
  left: 25% !important;
  top: 200px !important;

}
.globo6{
  left: 90% !important;
  top: 200px !important;
}

.globo7{
  left: 10% !important;
  top: 200px !important;

}

.globo8{
  left: 55% !important;
}


.globo3{
  left: 65% !important;
  animation-delay: 1s;
}

.fondodeg{
  z-index: 5;
  width: 100%;
  height: 300px !important;
  position: absolute !important;
  top: calc(100% - 300px) !important;
  background: linear-gradient(to bottom, transparent, #00101b);
  /*background: linear-gradient(to bottom, transparent, black);*/
}

.fondodeg2{
  z-index: 5;
  width: 100%;
  height: 400px !important;
  position: absolute !important;
  /*top: calc(100% - 200px) !important;*/
  background: linear-gradient(to top, transparent, #0000002b);
}

.animatecabron{
  animation-name: bell;
  animation-duration: 7s; /* Duración total de la animación */
  animation-iteration-count: infinite; 	/* 'infinite' numero de veces que quiero que se repita mi animación */
  animation-direction: alternate;/* La animación se ejecuta de 0% a 100% y de 100% a 0%*/


  /* CAMBIAR EL SUAVIZADO DE MI ANIMACIÓN*/
  /*animation-timing-function: ease;*/
  /*animation-timing-function: ease-in;*/
  /*animation-timing-function: ease-out;*/
  animation-timing-function: ease-in-out;
  /*animation-timing-function: linear;*/
  /*animation-timing-function: cubic-bezier(1,1,1,1);*/

  /*sitio para calcular curva de bezier http://cubic-bezier.com/#.17,.67,.83,.67*/
}

@keyframes bell{
  0%{
    transform: translateY(0);
  }
  100%{
    transform: translateY(30px);
  }
}


.luceroCabron{
  animation-name: luceLeftToRight;
  animation-duration: 7s; /* Duración total de la animación */
  animation-iteration-count: infinite; 	/* 'infinite' numero de veces que quiero que se repita mi animación */


  /* CAMBIAR EL SUAVIZADO DE MI ANIMACIÓN*/
  /*animation-timing-function: ease;*/
  /*animation-timing-function: ease-in;*/
  /*animation-timing-function: ease-out;*/
  animation-timing-function: ease-in-out;
  /*animation-timing-function: linear;*/
  /*animation-timing-function: cubic-bezier(1,1,1,1);*/

  /*sitio para calcular curva de bezier http://cubic-bezier.com/#.17,.67,.83,.67*/
}


@keyframes luceLeftToRight{
  0%{
    transform: translateX(-400px);

  }
  20%{
    transform: translateX(2000px);
  }

  100%{
    transform: translateX(2000px);
  }
}

.fondo{
  z-index: 4;
  width: 100%;
  height: 100%;
  position: absolute;
  background: #0000004a;
}

.img{
  width: 100%;
  height: 100vh;
  position: absolute;
  filter: blur(1px);
}


#scene{
  position: relative;
  width: 100%;
  height: 100vh !important;
  overflow: hidden;
}
